.legacy-declaration-row {
  padding-left: 0;
}

.legacy-declaration-row-last {
  margin-bottom: 10px;
}

.legacy-declaration-check {
  width: 0;
  padding-left: 0;
}

.legacy-dte-balance {
  color: #ff0000;
  min-height: 22px;
}
