<div class="modal fade" id="addportrate" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ formObj.yatPortRateId ? 'Update' : 'Add' }} Port Rate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body form_modal_body">
        <form autocomplete="off" (ngSubmit)="mainForm.form.valid && saveRecord()" #mainForm="ngForm" novalidate>
          <div class="modal_form_sec">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">From Station<sup class="required-msg">*</sup></label>
                  <ngx-select
                    [items]="stationList"
                    optionTextField="descr"
                    optionValueField="descr"
                    name="from"
                    #from="ngModel"
                    [(ngModel)]="formObj.from"
                    [allowClear]="true"
                    required
                    placeholder="Select Station">
                  </ngx-select>
                  <div *ngIf="from.touched || (mainForm.submitted && from.invalid)">
                    <div *ngIf="from.errors?.required" class="invalid-msg">From Station is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">To Station<sup class="required-msg">*</sup></label>
                  <ngx-select
                    [items]="stationList"
                    optionTextField="descr"
                    optionValueField="descr"
                    name="to"
                    #to="ngModel"
                    [(ngModel)]="formObj.to"
                    [allowClear]="true"
                    required
                    placeholder="Select Station">
                  </ngx-select>
                  <div *ngIf="to.touched || (mainForm.submitted && to.invalid)">
                    <div *ngIf="to.errors?.required" class="invalid-msg">To Station is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Rate per quintal<sup class="required-msg">*</sup></label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="eg. 1000"
                    maxlength="50"
                    [(ngModel)]="formObj.rate"
                    #rate="ngModel"
                    name="rate"
                    required
                    appNegativeDecimaNumber />
                  <div *ngIf="rate.touched || (mainForm.submitted && rate.invalid)">
                    <div *ngIf="rate.errors?.required" class="invalid-msg">Rate per quintal is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="text-right">
              <button type="submit" [disabled]="disableBtn" class="btn btn-primary">
                {{ formObj.yatPortRateId ? 'Update' : 'Submit' }}
              </button>
              <button type="button" class="btn btn-danger" title="Reset" (click)="reset()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
