<div class="modal" id="addPayLevel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #mainForm="ngForm" (ngSubmit)="mainForm.valid && saveRecord()">
        <div class="modal-header">
          <h4 class="modal-title">Update Pay Level</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <label>Pay Level</label>
              <input class="form-control" type="text" name="description" [(ngModel)]="formObj.description" readonly />
            </div>
            <div class="col-md-4">
              <label>Transportation of personal effect (Kg)<span class="text-danger">*</span></label>
              <input class="form-control" type="text" maxlength="10" name="pmtKg" [(ngModel)]="formObj.pmtKg" #pmtKg="ngModel" required />
              
                <div class="invalid-msg" *ngIf="pmtKg.invalid &amp;&amp; (pmtKg.dirty || pmtKg.touched || mainForm.submitted)">Pmt Kg is required.</div>
              
            </div>
            <div class="col-md-4">
              <label>Transportation of personal effect (Per Kg)<span class="text-danger">*</span></label>
              <input class="form-control" type="text" maxlength="10" name="pmtPerKg" [(ngModel)]="formObj.pmtPerKg" #pmtPerKg="ngModel" required />
              
                <div class="invalid-msg" *ngIf="pmtPerKg.invalid &amp;&amp; (pmtPerKg.dirty || pmtPerKg.touched || mainForm.submitted)">Pmt per Kg is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Accommodation rate per day<span class="text-danger">*</span></label>
              <input class="form-control" type="text" maxlength="10" name="tyAccommodation" [(ngModel)]="formObj.tyAccommodation" #tyAccommodation="ngModel" required />
              
                <div class="invalid-msg" *ngIf="tyAccommodation.invalid &amp;&amp; (tyAccommodation.dirty || tyAccommodation.touched || mainForm.submitted)">Accommodation rate is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Food rate per day<span class="text-danger">*</span></label>
              <input class="form-control" type="text" maxlength="10" name="tyFood" [(ngModel)]="formObj.tyFood" #tyFood="ngModel" required />
              
                <div class="invalid-msg" *ngIf="tyFood.invalid &amp;&amp; (tyFood.dirty || tyFood.touched || mainForm.submitted)">Food rate is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Travel within city<span class="text-danger">*</span></label>
              <input class="form-control" type="text" maxlength="10" name="tyTravel" [(ngModel)]="formObj.tyTravel" #tyTravel="ngModel" required />
              
                <div class="invalid-msg" *ngIf="tyTravel.invalid &amp;&amp; (tyTravel.dirty || tyTravel.touched || mainForm.submitted)">Travel within city is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Availed Category<span class="text-danger">*</span></label>
              <select class="form-control" name="availedCategory" [(ngModel)]="formObj.availedCategory" #availedCategory="ngModel" required>
                <option value="">Select</option>
                <option [ngValue]="0">0</option>
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
              </select>
              
                <div class="invalid-msg" *ngIf="availedCategory.invalid &amp;&amp; (availedCategory.dirty || availedCategory.touched || mainForm.submitted)">Availed Category is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Air Class<span class="text-danger">*</span></label>
              <select class="form-control" name="airClass" [(ngModel)]="formObj.airClass" #airClass="ngModel" required>
                <option value="">Select</option>
                <option value="NA">NA</option>
                <option value="Economy Class">Economy Class</option>
                <option value="Business Class">Business Class</option>
              </select>
              
                <div class="invalid-msg" *ngIf="airClass.invalid &amp;&amp; (airClass.dirty || airClass.touched || mainForm.submitted)">Air Class is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Ship Class<span class="text-danger">*</span></label>
              <select class="form-control" name="shipClass" [(ngModel)]="formObj.shipClass" #shipClass="ngModel" required>
                <option value="">Select</option>
                <option value="Bunk Class">Bunk Class</option>
                <option value="Cabin Class">Cabin Class</option>
              </select>
              
                <div class="invalid-msg" *ngIf="shipClass.invalid &amp;&amp; (shipClass.dirty || shipClass.touched || mainForm.submitted)">Ship Class is required.</div>
              
            </div>
            <div class="col-md-4 mt-3">
              <label>Train Class<span class="text-danger">*</span></label>
              <select class="form-control" name="trainClass" [(ngModel)]="formObj.trainClass" #trainClass="ngModel" required>
                <option value="">Select</option>
                <option value="AC 1st Class">AC 1st Class</option>
                <option value="AC 2nd Class">AC 2nd Class</option>
                <option value="AC 3rd Class">AC 3rd Class</option>
              </select>
              
                <div class="invalid-msg" *ngIf="trainClass.invalid &amp;&amp; (trainClass.dirty || trainClass.touched || mainForm.submitted)">Train Class is required.</div>
              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="disableBtn">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
