<!--Page header-->
        <div class="page-header gov-page-toolbar">
          <div class="page-leftheader">
            <h4 class="page-title">Outbox</h4>
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Outbox
              </li>
            </ol>
          </div>
          <div>
            <div>
              <button type="button" class="btn btn-dark request_view_back" title="Back to Page" (click)="goBack()"><i
                  class="fa fa-chevron-left" style="display: inline-block;"></i></button>
              <button type="button" class="btn btn-dark request_view_back" title="Filter" (click)="this.toggleFilter = !this.toggleFilter"><i
                  class="fa fa-filter" style="display: inline-block;"></i></button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="toggleFilter == true">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <form class="page_form" autocomplete="off"
                  (ngSubmit)="requiredForm.form.valid && getState();" #requiredForm="ngForm"
                  novalidate>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Claim ID</label>
                        <input type="text" class="form-control" name="formId" #formId="ngModel"
                        [(ngModel)]="filterObj.formId" placeholder="Claim ID">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">PNO</label>
                        <input type="text" class="form-control" name="pno" #pno="ngModel"
                        [(ngModel)]="filterObj.pno" placeholder="PNO">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="searchedName" #searchedName="ngModel"
                        [(ngModel)]="filterObj.searchedName" placeholder="Name">
                      </div>
                    </div>
                    <!-- <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Form Name</label>
                        <ngx-select [items]="formList" placeholder="Form Name" optionTextField="descr"
                        optionValueField="descr" name="formName" #formName="ngModel"
                        [(ngModel)]="filterObj.formName" [allowClear]="true">
                        </ngx-select>
                      </div> 
                    </div> -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">From Date </label>
                        <input type="date" class="form-control" name="fromDate" #fromDate="ngModel"
                        [(ngModel)]="filterObj.fromDate" min="1000-01-01" max="9999-12-31">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">To Date </label>
                        <input type="date" class="form-control" name="toDate" #toDate="ngModel"
                        [(ngModel)]="filterObj.toDate" min="1000-01-01" max="9999-12-31">
                      </div>
                    </div>
                  </div>
                  <div class="form_page_btn">
                    <button  type="submit" title="Submit" class="btn btn-primary" title="Submit"><i
                        class="fa fa-check"></i>
                      Submit</button>
                      <button type="button" class="btn btn-danger" title="Reset"
                      (click)="reset()"  title="Reset"><i
                        class="fa fa-refresh"></i> Reset</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                      <label>Show</label>
                      <select class="form-control" name="noOfPage" aria-controls="example" [(ngModel)]="noOfPage"
                        (ngModelChange)="p=1">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      <label>entries</label>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-3 offset-3">
                    <div class="dataTables_filter"  title="Search">
                      <i class="fa fa-search"></i>
                      <input type="search" class="form-control form-control-sm" placeholder="Search" (keyup)="p=1" (keyup.enter)="applyServerSearch()" (ngModelChange)="onSearchInput()"
                        [(ngModel)]="searchObj" name="searchObj" aria-controls="example">
                    </div>
                  </div>
                </div>
                <div class="table-responsive gov-table-wrap-premium table-wrap-premium">
                  <table id="exportData" class="table table-bordered gov-table-sticky-first table-sticky-first" style="width:100%">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Form Name</th>
                        <th>Submission Date</th>
                        <th>Form ID</th>
                        <th>Unit Remarks</th>
                        <th>Form Status</th>
                        <th>Requisition Form</th>
                        <th>Supporting Document</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let dataObj of dataList |  filterComplex : searchObj | orderBy: key: reverse |paginate: { itemsPerPage: noOfPage, currentPage: p };let i=index">
                        <td>{{ i + 1 + (p - 1) * noOfPage }}.</td>
                        <td>{{ dataObj?.yatClaimDTO?.codeSubFormDTO?.descr | showHypen }}</td>
                        <td>{{ dataObj?.yatClaimDTO?.subDate | legacyDate:'queueDate' }}</td>
                        <td>{{ dataObj?.yatClaimDTO?.formId | showHypen }}</td>
                        <td>
                          <button class="btn btn-info" title="Remarks" (click)="viewUnitRemarks(dataObj?.yatClaimDTO?.claimId)">Remarks</button>
                        </td>
                        <td>{{ dataObj?.onWork | showHypen }}</td>
                        <td>
                          <button *ngIf="isESignClaim(dataObj)" class="btn btn-info" title="Download" (click)="downloadRequisition(dataObj)">Download</button>
                        </td>
                        <td>
                          <button *ngIf="isESignClaim(dataObj)" class="btn btn-info" title="Download" (click)="downloadSupportingDocument(dataObj)">Download</button>
                        </td>
                        <td>
                          <button class="btn btn-info" title="View" (click)="viewForm(dataObj)">View</button>
                        </td>
                      </tr>

                      <tr *ngIf="!dataList.length" class="text-center table-empty-state gov-table-empty-state">
                        <td colspan="9">No Records</td>
                      </tr>
                      <tr class="noExl pagination_area" *ngIf="dataList?.length">
                        <td colspan="9">
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><div class="modal fade" id="unitRemarksModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-center"><b>Unit Remarks</b></h4>
                      </div>
                      <div class="modal-body">
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>S.No.</th>
                                <th>Remark Date Time</th>
                                <th>Claim Remark</th>
                                <th>Authority</th>
                                <th>Unit</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let remark of unitRemarks; let i = index">
                                <td>{{ i + 1 }}.</td>
                                <td>{{ remark?.createdOn | showDate:'medium' | showHypen }}</td>
                                <td>{{ (remark?.remarks || remark?.remark) | showHypen }}</td>
                                <td>{{ (remark?.aclCodeRoleTypeDTO?.roleType || remark?.roleTypeName) | showHypen }}</td>
                                <td>{{ (remark?.codeUnitDTO?.descr || remark?.unitName) | showHypen }}</td>
                              </tr>
                              <tr *ngIf="!unitRemarks.length">
                                <td colspan="9" class="text-center">No Record Found</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
</div>
</div>
</div>
</div>

