<!-- Change Status Modal Starts -->
<div
  class="modal fade delete_modal_"
  id="batchImportModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addAgent"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h3 class="modal-title">Import</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="resetForm()"
            >
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label"
                  >Choose File<sup class="required-msg">*</sup></label
                  >
                  <input
                    type="file"
                    class="form-control"
                    name="batchZipFile"
                    id="batchZipFile"
                    accept="application/zip,.zip"
                    (change)="onBatchFileChange($event)"
                    />
                  
                    <div class="invalid-msg" *ngIf="fileError">{{ fileError }}</div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer modal_footer_download">
            <div class="float_right">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="resetForm()"
                title="Cancel"
                >
                Cancel
              </button>
              <button
                type="button"
                [disabled]="disableBtn || !!fileError"
                class="btn btn-primary"
                (click)="uploadBatchZip()"
                >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Change Status Modal Ends -->
