<div class="modal fade" id="contact_detail_modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-md " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card border-light ">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-design">
                <div class="logo-design">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <h4>Support and Services for Tatrakshak Applications (SASTRA)
                  Centralized IT Help desk
                  Directorate of IT, CG HQ, New Delhi - 110 001</h4>
                <br>
                <h4>Land line - 011 - 2311 5444 (T/F), Intercom- 5444</h4>
                <h4>Mobile No - 9311443002</h4>
                <h4>Email Id -<a>sastra&#64;indiancoastguard.nic.in, sastra&#64;chakra.icg (ICG Chakra Network)</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>