<app-common-form-header [pageTitle]="pageTitle" sectionLabel="Advance">
  <div class="detail-actions legacy-review-actions">
    <button *ngIf="!previewMode" type="button" class="btn btn-info mr-2" (click)="openPreview()">Preview</button>
    <button *ngIf="canTakeAction()" type="button" class="btn btn-info mr-2" [disabled]="actionLoading" (click)="openActionRemarkModal(codeStatus?.returned)">Return</button>
    <button *ngIf="canTakeAction() && canReject" type="button" class="btn btn-info mr-2" [disabled]="actionLoading" (click)="openActionRemarkModal(codeStatus?.notApproved)">Reject</button>
    <button *ngIf="canTakeAction()" type="button" class="btn btn-info mr-2" [disabled]="actionLoading || !allSectionsReviewed" (click)="openActionRemarkModal(codeStatus?.outbox)">{{ primaryActionLabel }}</button>
    <button type="button" class="btn btn-dark request_view_back" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
  </div>
</app-common-form-header>



<div class="legacy-review-form pmt-duty-review-form">
  <div class="panel_card">
    <div class="row"><div class="col-md-12"><div class="panel panel-white"><div class="panel-body panel_head">
      <ul class="nav nav-tabs custom-tabs legacy-review-tabs" role="tablist">
        <li [class.active]="activeTab === 'ship'" role="presentation"><a href="javascript:void(0)" role="tab" (click)="setTabFromClick($event, 'ship')">Personal Details</a></li>
        <li [class.active]="activeTab === 'ship2'" role="presentation"><a href="javascript:void(0)" role="tab" (click)="setTabFromClick($event, 'ship2')">Travel Details</a></li>
        <li [class.active]="activeTab === 'ship3'" role="presentation"><a href="javascript:void(0)" role="tab" (click)="setTabFromClick($event, 'ship3')">Financial Terms</a></li>
        <li [class.active]="activeTab === 'ship4'" role="presentation"><a href="javascript:void(0)" role="tab" (click)="setTabFromClick($event, 'ship4')">Bank Details</a></li>
        <li *ngIf="formObj?.internalRemarks" [class.active]="activeTab === 'ship5'" role="presentation"><a href="javascript:void(0)" role="tab" (click)="setTabFromClick($event, 'ship5')">Remarks</a></li>
      </ul>

      <div class="tab-content legacy-review-tab-content">
        <div id="ship" class="tab-pane active show" *ngIf="activeTab === 'ship'">
          <div class="legacy-sign-row">
            <label class="mr-3"><input type="radio" name="signRadio" [checked]="formObj?.signWith === codeSignType.inkSign" disabled /> Ink Sign</label>
            <label><input type="radio" name="signRadio" [checked]="formObj?.signWith === codeSignType.eSign" disabled /> eSign</label>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let field of personalFields">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5">
                    <label class="control-label">{{ field.label }}</label>
                  </div>
                  <div class="col-md-8 padd_5">
                    <input type="text" class="form-control" [value]="display(field.value)" disabled />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="advanceDetails?.tempTransTo === 'Others'">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">Other Unit<sup>*</sup></label></div>
                  <div class="col-md-8 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.otherUnit)" disabled /></div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="advanceDetails?.gxUnit">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">Gx Unit</label></div>
                  <div class="col-md-8 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.gxUnit)" disabled /></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">Gx Number</label></div>
                  <div class="col-md-8 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.gxNumber)" disabled /></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">Gx Date</label></div>
                  <div class="col-md-8 padd_5"><input type="text" class="form-control" [value]="asDate(advanceDetails?.gxDate)" disabled /></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">GX Form</label></div>
                  <div class="col-md-8 padd_5">
                    <button *ngIf="formObj?.gxFormFileUrl" type="button" class="btn btn-info" (click)="viewDocument(formObj?.gxFormFileUrl)">View</button>
                    <input *ngIf="!formObj?.gxFormFileUrl" class="form-control" value="-" disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">PMT Type</label></div>
                  <div class="col-md-8 padd_5">
                    <input type="radio" [checked]="advanceDetails?.pmtType === 'Part'" disabled /> Part
                    <input type="radio" [checked]="advanceDetails?.pmtType === 'Full'" disabled /> Full
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">Family Type</label></div>
                  <div class="col-md-8 padd_5">
                    <input type="radio" [checked]="advanceDetails?.familyType === 'Self'" disabled /> Self
                    <input type="radio" [checked]="advanceDetails?.familyType === 'Self and Family'" disabled /> Self and Family
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="advanceDetails?.pmtType === 'Part'">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 padd_5"><label class="control-label">Link Part</label></div>
                  <div class="col-md-8 padd_5">
                    <button *ngIf="advanceDetails?.pmtTypeClaimId" type="button" class="btn btn-info" (click)="openRelatedPreview(advanceDetails?.pmtTypeClaimId)">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead><tr><th>Name</th><th>Age</th><th>Relation</th><th>Occupation</th></tr></thead>
              <tbody>
                <tr *ngFor="let family of formObj?.yatFamilyDetailDTOs">
                  <td>{{ display(family?.memberName) }}</td>
                  <td>{{ display(family?.age) }}</td>
                  <td>{{ display(family?.relation) }}</td>
                  <td>{{ display(family?.occupation) }}</td>
                </tr>
                <tr *ngIf="!formObj?.yatFamilyDetailDTOs?.length"><td colspan="4" class="text-center">No Records</td></tr>
              </tbody>
            </table>
          </div>
          <div class="legacy-verifier-footer">
            <div class="row">
              <div class="col-md-1 col-md-offset-10"><label class="con_tainer">Checked <input type="checkbox" [(ngModel)]="form1" name="form1" /></label></div>
              <div class="col-md-1"><button type="button" class="btn btn-info" (click)="nextTabActive()">Next</button></div>
            </div>
          </div>
        </div>

        <div id="ship2" class="tab-pane active show" *ngIf="activeTab === 'ship2'">
          <div class="row">
            <div class="col-md-12">
              <label class="control-label">Travel Details</label>
              <div class="table-responsive" style="margin-top: 15px">
                <table class="table table-striped table-bordered table-hover">
                  <thead><tr><th>From</th><th>To</th><th>Travel Mode</th><th>Amount (In Rs.)</th><th>DTS</th><th>Reasons for not booking</th></tr></thead>
                  <tbody>
                    <tr *ngFor="let row of formObj?.yatDtsDetailDTOs">
                      <td>{{ display(row?.source) }}</td>
                      <td>{{ display(row?.destination) }}</td>
                      <td>{{ display(row?.modeOfTravel) }}</td>
                      <td>{{ display(row?.amount) }}</td>
                      <td>{{ display(row?.isDts) }}</td>
                      <td>{{ display(row?.reasonForNoDts) }}</td>
                    </tr>
                    <tr *ngIf="!formObj?.yatDtsDetailDTOs?.length"><td colspan="6" class="text-center">No Record Found</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="legacy-verifier-footer">
            <div class="row">
              <div class="col-md-1 col-md-offset-9"><button type="button" class="btn btn-info" (click)="previousTabActive()">Previous</button></div>
              <div class="col-md-1"><label class="con_tainer">Checked <input type="checkbox" [(ngModel)]="form2" name="form2" /></label></div>
              <div class="col-md-1"><button type="button" class="btn btn-info" (click)="nextTabActive()">Next</button></div>
            </div>
          </div>
        </div>

        <div id="ship3" class="tab-pane active show" *ngIf="activeTab === 'ship3'">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 padd_5">
                    <input type="radio" name="areaType" [checked]="advanceDetails?.areaType === 'Main Land'" disabled /> Main Land
                    <input type="radio" name="areaType" [checked]="advanceDetails?.areaType === 'Island'" disabled /> Island
                    <input type="checkbox" name="AvailComposite" [checked]="isChecked(advanceDetails?.isAvailComposite)" disabled /> Include Composite Transfer Grant
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <div class="row">
                <div class="col-md-7 padd_5"><label class="control-label">Composite Transfer Grant (80% of Basic Pay In Rs.)</label></div>
                <div class="col-md-5 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.compositeGrant)" disabled /></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-7 padd_5"><label class="control-label">Composite Transfer Grant in case of any island (100% of Basic Pay In Rs.)</label></div>
                <div class="col-md-5 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.compositeGrantIsland)" disabled /></div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 padd_5"><label class="control-label">Transportation of personal effect for</label></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.maxTransEffectKg)" disabled /></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectKg)" disabled /></div>
                <div class="col-md-1 padd_5"><label class="control-label">Kgs</label></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectKgRs)" disabled /></div>
                <div class="col-md-1 padd_5"><label class="control-label">In Rs.</label></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectKms)" disabled /></div>
                <div class="col-md-2 padd_5"><label class="control-label">Km = In Rs</label></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectKmsRs)" disabled /></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 padd_5"><label class="control-label">Transportation of personal effect by ship</label></div>
                <div class="col-md-1 padd_5"></div>
                <div class="col-md-1 padd_5"></div>
                <div class="col-md-1 padd_5"></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectShipKgRs)" disabled /></div>
                <div class="col-md-1 padd_5"><label class="control-label">Cubic meter</label></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectShipKms)" disabled /></div>
                <div class="col-md-2 padd_5"><label class="control-label">Rate</label></div>
                <div class="col-md-1 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transPerEffectShipKmsRs)" disabled /></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 padd_5"><label class="control-label">Transportation charge for conveyance (In Rs.)</label></div>
                <div class="col-md-2 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transChargeRs)" disabled /></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 padd_5"><label class="control-label">Transportation of conveyance by ship (In Rs.)</label></div>
                <div class="col-md-2 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.transChargeShipRs)" disabled /></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-2 padd_5"><label class="control-label">Place</label></div>
                      <div class="col-md-2 padd_5"><input type="text" class="form-control" [value]="display(advanceDetails?.place)" disabled /></div>
                    </div>
                  </div>
                </div>
                <table class="table">
                  <thead><tr><th>Advance Request</th><th>Advance Admissible</th><th>DTS Amount</th><th>Amount to be budgeted</th></tr></thead>
                  <tbody><tr><td>{{ display(advanceDetails?.totalAmt) }}</td><td>{{ displayedAdvanceAmount }}</td><td>{{ display(advanceDetails?.dtsAmount) }}</td><td>{{ displayedTotalBudgetedAmount }}</td></tr></tbody>
                </table>
              </div>
            </div>
          </div>
          <div style="margin-top: 15px;" *ngIf="showAdvanceCeilingControls">
            <div class="row">
              <div class="col-md-2 padd_5"><label class="control-label">Advance Ceiling(in %)</label></div>
              <div class="ty-ceiling-icon"><i title="Advance Ceiling Amount will be effected in Advance Admissible Amount" class="fa fa-question-circle fa-lg fa_custom"></i></div>
              <div class="col-md-2 padd_5">
                <select class="form-control" [ngModel]="redPercentage" (ngModelChange)="setRecommendAmount($event)">
                  <option [ngValue]="null">Select</option>
                  <option *ngFor="let percentage of advanceCeilingOptions" [ngValue]="percentage">{{ percentage }}</option>
                </select>
                <div *ngIf="redPercentage !== null" class="ty-inline-block">
                  <button class="btn btn-outline-secondary" type="button" (click)="clearAdvanceCeiling()"><i class="fa fa-close"></i></button>
                </div>
              </div>
              <div class="col-md-2 padd_5" *ngIf="redPercentage !== null"><label class="control-label">Amount<sup>*</sup></label></div>
              <div class="col-md-2 padd_5" *ngIf="redPercentage !== null"><input class="form-control" [ngModel]="redAmount" (ngModelChange)="updateAdmissibleAmt($event)" maxlength="10" /></div>
            </div>
            <div class="row" *ngIf="redPercentage !== null">
              <div class="col-md-1 padd_5"><label class="control-label">Remarks</label></div>
              <div class="col-md-12 padd_5"><textarea [attr.maxLength]="advanceCeilingRemarksMaxLength" [(ngModel)]="redRemarks" class="form-control" placeholder="Remarks"></textarea></div>
            </div>
          </div>
          <div class="legacy-verifier-footer">
            <div class="row">
              <div class="col-md-1 col-md-offset-9"><button type="button" class="btn btn-info" (click)="previousTabActive()">Previous</button></div>
              <div class="col-md-1"><label class="con_tainer">Checked <input type="checkbox" [(ngModel)]="form3" name="form3" /></label></div>
              <div class="col-md-1"><button type="button" class="btn btn-info" (click)="nextTabActive()">Next</button></div>
            </div>
          </div>
        </div>

        <div id="ship4" class="tab-pane active show" *ngIf="activeTab === 'ship4'">
          <div class="col-md-12">
            <div class="row legacy-bank-row"><div class="col-md-2"><label>Bank Name</label></div><div class="col-md-3"><input class="form-control" [value]="display(formObj?.yatClaimBankDetailDTO?.bankName)" disabled /></div></div>
            <div class="row legacy-bank-row"><div class="col-md-2"><label>IFSC Code</label></div><div class="col-md-3"><input class="form-control" [value]="display(formObj?.yatClaimBankDetailDTO?.ifscCode)" disabled /></div></div>
            <div class="row legacy-bank-row"><div class="col-md-2"><label>Account Number</label></div><div class="col-md-3"><input class="form-control" [value]="display(formObj?.yatClaimBankDetailDTO?.bankAccNo)" disabled /></div></div>
            <div class="row legacy-bank-row"><div class="col-md-2"><label>MICR Code</label></div><div class="col-md-3"><input class="form-control" [value]="display(formObj?.yatClaimBankDetailDTO?.micrCode)" disabled /></div></div>
          </div>
          <div class="legacy-tab-footer"><button type="button" class="btn btn-info btn-sm" (click)="previousTabActive()">Previous</button><label class="review-check"><input type="checkbox" [(ngModel)]="form6" name="form6" /> <span>Checked</span></label><button *ngIf="formObj?.internalRemarks" type="button" class="btn btn-info btn-sm" (click)="nextTabActive()">Next</button></div>
        </div>

        <div id="ship5" class="tab-pane active show" *ngIf="activeTab === 'ship5' && formObj?.internalRemarks"><div class="form-group"><label class="control-label">Remarks</label><textarea rows="6" class="form-control" [value]="display(formObj?.internalRemarks)" disabled></textarea></div><div class="legacy-tab-footer"><button type="button" class="btn btn-info btn-sm" (click)="previousTabActive()">Previous</button></div></div>
      </div>
    </div></div></div></div>
  </div>
</div>

<app-common-esign-modal [tempFormObj]="eSignTempFormObj"></app-common-esign-modal>

