<div class="modal fade" id="addVersion" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage_admin">{{formObj.verHisId ? 'Update' :
          'Add'}} Version History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body form_modal_body">
        <form autocomplete="off" (ngSubmit)="mainForm.form.valid && saveRecord();" #mainForm="ngForm" novalidate>
          <div class="modal_form_sec">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Title<sup class="required-msg">*</sup></label>
                  <input type="text" class="form-control" placeholder="Title" maxlength="50" [(ngModel)]="formObj.title"
                    #title="ngModel" name="title" required>
                  <div *ngIf="title.touched || (mainForm.submitted && title.invalid)">
                    <div *ngIf="title.errors?.required" class="invalid-msg">Title
                      is
                      required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Description<sup class="required-msg">*</sup></label>
                  <input type="text" class="form-control" placeholder="Description" maxlength="50"
                    [(ngModel)]="formObj.descr" #descr="ngModel" name="descr" required appNotSpecialCharecter>
                  <div *ngIf="descr.touched || (mainForm.submitted && descr.invalid)">
                    <div *ngIf="descr.errors?.required" class="invalid-msg">Description
                      is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="text-right">
              <button  type="submit" title="Submit" class="btn btn-primary" title="{{formObj.verHisId ? 'Update' :
              'Submit'}}">{{formObj.verHisId ? 'Update' :
                'Submit'}}</button>
              <button type="button" class="btn btn-danger" title="Reset" (click)="reset()"  title="Reset">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>