<!--aside open-->
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div class="dropdown user-pro-body text-center">
      <div class="user-pic">
        <img src="assets/images/user.png" alt="user-img" class="avatar-xl rounded-circle mb-1" />
      </div>
      <div class="user-info">
        <h6 class="mb-1 text-dark">{{ userIdDetails?.formId }}</h6>
        <h6 class="mb-1 text-dark">{{ userIdDetails?.unitName }}</h6>
      </div>
    </div>
  </div>
  <ul class="side-menu sidebar_page_scroll">
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['dashboard']">
        <i class="side-menu__icon fa fa-th-large"></i><span class="side-menu__label">Dashboard</span>
      </a>
    </li>
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['statistics']">
        <i class="side-menu__icon fa fa-pie-chart"></i><span class="side-menu__label">Statistics</span>
      </a>
    </li>
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['esign-report']">
        <i class="side-menu__icon fa fa-file"></i><span class="side-menu__label">Esign Report</span>
      </a>
    </li>

    <li routerLinkActive="is-expanded" class="slide">
      <a class="side-menu__item" data-toggle="slide"><i class="side-menu__icon fa fa-download"></i><span class="side-menu__label">Import</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['import']">Import <span class="counts" *ngIf="stateCount?.importCount > 0">{{ stateCount.importCount }}</span></a></li>
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['imported']">Imported <span class="counts" *ngIf="stateCount?.importedCount > 0">{{ stateCount.importedCount }}</span></a></li>
      </ul>
    </li>

    <li routerLinkActive="is-expanded" class="slide">
      <a class="side-menu__item" data-toggle="slide"><i class="side-menu__icon fa fa-upload"></i><span class="side-menu__label">Export</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['inbox']">Inbox <span class="counts" *ngIf="stateCount?.inboxCount > 0">{{ stateCount.inboxCount }}</span></a></li>
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['exported']">Exported <span class="counts" *ngIf="stateCount?.exportedCount > 0">{{ stateCount.exportedCount }}</span></a></li>
      </ul>
    </li>

    <li routerLinkActive="is-expanded" class="slide">
      <a class="side-menu__item" data-toggle="slide"><i class="side-menu__icon fa fa-archive"></i><span class="side-menu__label">Archived</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['backup-Import']">Imported <span class="counts" *ngIf="stateCount?.archivedImportedCount > 0">{{ stateCount.archivedImportedCount }}</span></a></li>
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['backup-Export']">Exported <span class="counts" *ngIf="stateCount?.archivedExportedCount > 0">{{ stateCount.archivedExportedCount }}</span></a></li>
      </ul>
    </li>

    <li routerLinkActive="is-expanded" class="slide">
      <a class="side-menu__item" data-toggle="slide"><i class="side-menu__icon fa fa-download"></i><span class="side-menu__label">Diary Claim</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['diary-import']">Import <span class="counts" *ngIf="stateCount?.diaryImportCount > 0">{{ stateCount.diaryImportCount }}</span></a></li>
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['diary-imported']">Imported <span class="counts" *ngIf="stateCount?.diaryImportedCount > 0">{{ stateCount.diaryImportedCount }}</span></a></li>
        <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['diary-imported-backup']">Archived <span class="counts" *ngIf="stateCount?.diaryImportedArchivedCount > 0">{{ stateCount.diaryImportedArchivedCount }}</span></a></li>
      </ul>
    </li>

    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['unit-admin']">
        <i class="side-menu__icon fa fa-user"></i><span class="side-menu__label">Manage Unit Admin</span>
      </a>
    </li>
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['settings']">
        <i class="side-menu__icon fa fa-cog"></i><span class="side-menu__label">Settings</span>
      </a>
    </li>
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['excel-import']">
        <i class="side-menu__icon fa fa-download"></i><span class="side-menu__label">Excel Import</span>
      </a>
    </li>
  </ul>

  <img src="assets/images/logo.png" alt="Yatra Logo" class="logo_in_sidebar" />
</aside>
<!--aside closed-->
