<div class="page-header gov-page-toolbar">
  <div class="page-leftheader">
    <h4 class="page-title">Manage Unit Admin</h4>
    <ol class="breadcrumb pl-0">
      <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Yatra</a></li>
      <li class="breadcrumb-item active" aria-current="page">Manage Unit Admin</li>
    </ol>
  </div>
  <div>
    <button type="button" class="btn btn-dark request_view_back" title="Back to Page" (click)="goBack()">
      <i class="fa fa-chevron-left" style="display: inline-block;"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <form class="page_form" (ngSubmit)="requiredForm.form.valid && saveRecord();" autocomplete="off" #requiredForm="ngForm" novalidate>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Select Cadre <sup class="required-msg">*</sup></label>
                <select class="form-control" name="cadre" [(ngModel)]="formObj.cadre" (ngModelChange)="onCadreChange()" required>
                  <option value="">Select</option>
                  
                    <option [value]="cadre.id" *ngFor="let cadre of cadreList">{{ cadre.descr }}</option>
                  
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Name/User <sup class="required-msg">*</sup></label>
                <ngx-select
                  [items]="userList"
                  optionTextField="selectLabel"
                  optionValueField="selectId"
                  [placeholder]="formObj.cadre ? 'Search by Name / PNO' : 'Select Cadre first'"
                  name="userId"
                  [(ngModel)]="formObj.userId"
                  (ngModelChange)="onUserChange($event)"
                  [disabled]="!formObj.cadre"
                  required>
                </ngx-select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">PNO</label>
                <input type="text" class="form-control" placeholder="PNO" [value]="getUserPno(userObj)" disabled>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" [value]="getUserPhone(userObj)" disabled>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Rank</label>
                <input type="text" class="form-control" [value]="getUserRank(userObj)" disabled>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Authorization No <sup class="required-msg">*</sup></label>
                <input type="text" class="form-control" placeholder="Enter Authorization No" maxlength="100" [(ngModel)]="formObj.authNo" name="authNo" required>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label">Authorization Date <sup class="required-msg">*</sup></label>
                <input type="date" class="form-control" [(ngModel)]="formObj.authDate" name="authDate" required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">Scanned copy of Authorization <sup class="required-msg">*</sup></label>
                <input type="file" class="form-control" accept="application/pdf" (change)="onAuthDocSelected($event)" required>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label">From Date and Time <sup class="required-msg">*</sup></label>
                <input type="datetime-local" class="form-control" [(ngModel)]="formObj.fromDateTime" name="fromDateTime" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <button type="submit" title="Submit" class="btn btn-space btn-primary" [disabled]="disableBtn">Submit</button>
              <button class="btn btn-space btn-warning" type="button" (click)="reset()" title="Reset">Reset</button>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label>Show</label>
              <select class="form-control" name="noOfPage" [(ngModel)]="noOfPage" (ngModelChange)="p=1">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <label>entries</label>
            </div>
          </div>

          <div class="col-sm-12 col-md-3 offset-3">
            <div class="dataTables_filter" title="Search">
              <i class="fa fa-search"></i>
              <input type="search" class="form-control form-control-sm" placeholder="Search" (keyup)="p=1" [(ngModel)]="searchObj" name="searchObj">
            </div>
          </div>
        </div>

        <div class="table-responsive gov-table-wrap-premium table-wrap-premium">
          <table id="exportData" class="table table-bordered gov-table-sticky-first table-sticky-first" style="width:100%">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Unit</th>
                <th>Name</th>
                <th>PNO</th>
                <th>Phone</th>
                <th>Rank</th>
                <th>Authorization No</th>
                <th>Authorization Date</th>
                <th>Scanned copy of Authorization</th>
                <th>From Date and Time</th>
                <th class="actionBtnWidth">Action</th>
              </tr>
            </thead>
            <tbody>
              
                <tr *ngFor="let dataObj of dataList | filterComplex : searchObj | orderBy: key: reverse | paginate: { itemsPerPage: noOfPage, currentPage: p }; let i = index">
                  <td>{{ (i + 1) + (p - 1) * noOfPage }}.</td>
                  <td>{{ dataObj?.codeUnitDTO?.descr | showHypen }}</td>
                  <td>{{ getUserName(dataObj) | showHypen }}</td>
                  <td>{{ getUserPno(dataObj) | showHypen }}</td>
                  <td>{{ getUserPhone(dataObj) | showHypen }}</td>
                  <td>{{ getUserRank(dataObj) | showHypen }}</td>
                  <td>{{ dataObj?.authNo | showHypen }}</td>
                  <td>{{ dataObj?.authDate | showDate:'short' }}</td>
                  <td>
                    
                      <button type="button" class="btn btn-info btn-sm" (click)="viewAuthDoc(dataObj)" *ngIf="dataObj?.authDocUrl">
                        <i class="fa fa-eye"></i>
                      </button>
                    
                    
                      <span *ngIf="!dataObj?.authDocUrl">-</span>
                    
                  </td>
                  <td>{{ dataObj?.fromDateTime | showDate:'medium' }}</td>
                  <td>
                    <ng-container *ngIf="dataObj.aclCodeStatusDTO?.statusId==codeStatusList.activate">
                      <img src="assets/images/switch-on.png" alt=""
                        (click)="openChangeStatusModal(dataObj,codeStatusList.deactivate)"
                        data-toggle="modal" data-target="#change_status_modal" title="Deactivate"
                        style="width: 45px; cursor: pointer;">
                    </ng-container>
                    <ng-container *ngIf="dataObj.aclCodeStatusDTO?.statusId==codeStatusList.deactivate">
                      <img src="assets/images/switch-off.png" alt=""
                        (click)="openChangeStatusModal(dataObj,codeStatusList.activate)"
                        data-toggle="modal" data-target="#change_status_modal" title="Activate"
                        style="width: 45px; cursor: pointer;">
                    </ng-container>
                  </td>
                </tr>
              
              
                <tr class="text-center table-empty-state gov-table-empty-state" *ngIf="!dataList.length">
                  <td colspan="20">No Records</td>
                </tr>
              
              
                <tr class="noExl pagination_area" *ngIf="dataList?.length">
                  <td colspan="20">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </td>
                </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-change-status-modal
  [changeData]="tempObj"
  (changeStatusConfirmed)="changeStatus($event)">
</app-change-status-modal>
