<div class="page">
  <div class="page-main">
    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <div class="app-content">
      <div class="side-app">
        <!--Page header-->
        <div class="page-header">
          <div class="page-leftheader">
            <h4 class="page-title">Pilotage History</h4>
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Pilotage History</li>
            </ol>
          </div>
          <div>
            <button type="button" class="btn btn-dark request_view_back" title="Back to Page" (click)="goBack()"><i
                class="fa fa-chevron-left" style="display: inline-block;"></i></button>
          </div>
        </div>
        <!--End Page header-->

        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <form class="page_form" autocomplete="off"
                  (ngSubmit)="saveRecord()" #requiredForm="ngForm"
                  novalidate>
                  <form class="page_form" autocomplete="off" (ngSubmit)="pilotageForm.form.valid && addPilotage();"
                    #pilotageForm="ngForm" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Pilotage Details</h2>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label">Channel/Port<sup class="required-msg">*</sup></label>
                          <ngx-select [items]="portList" optionTextField="portName" optionValueField="portName"
                            name="portName" #portName="ngModel" [(ngModel)]="formObj.portName" [allowClear]="true"
                            required placeholder="Channel/Port" (ngModelChange)="selectPortName(formObj.portName);">
                          </ngx-select>
                          <div *ngIf="portName.touched || (pilotageForm.submitted && portName.invalid)">
                            <div *ngIf="portName.errors?.required" class="invalid-msg">
                              Channel/Port is required
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group purchase_product_name">
                          <label class="form-label">IN/OUT passage
                            <sup class="required-msg">*</sup></label>
                          <ngx-select placeholder="IN/OUT passage" [items]="passageList" optionTextField="descr"
                            optionValueField="descr" name="puaPassage" #puaPassage="ngModel"
                            [(ngModel)]="formObj.puaPassage" [allowClear]="true" required>
                          </ngx-select>
                          <div *ngIf="puaPassage.touched ||
                              (pilotageForm.submitted && puaPassage.invalid)">
                            <div *ngIf="puaPassage.errors?.required" class="invalid-msg">
                              IN/OUT Passage is required
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label">
                            Total Number Of Similar Movements Carried Out Previously Both Day and Night (Between 0-5)
                            <sup class="required-msg">*</sup>
                          </label>
                          <input type="text" class="form-control" placeholder="Total number of similar movement"
                            maxlength="5" [(ngModel)]="pilotageObj.count" #count="ngModel"
                            name="count" required appNumberOnly>
                          <div
                            *ngIf="count.touched || (pilotageForm.submitted && count.invalid)">
                            <div *ngIf="count.errors?.required" class="invalid-msg">
                              Similar movement is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 my-3">
                        <button type="submit" title="Submit" class="btn btn-primary" title="Add"><i
                            class="fa fa-plus"></i>
                          Add</button>
                        <button type="button" class="btn btn-danger" title="Reset" (click)="resetPilotage()"><i
                            class="fa fa-refresh"></i> Reset</button>
                      </div>
                    </div>

                  </form>
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="table-responsive">
                        <table id="exportData" class="table table-bordered" style="width:100%">
                          <thead>
                            <tr>
                              <th class="wd-5p">SL</th>
                              <th class="wd-20p">Channel/Port</th>
                              <th class="wd-20p">IN/OUT passage </th>
                              <th class="wd-20p">Total number of similar movement </th>
                              <th class="actionBtnWidth">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dataObj of pilotageHistoryChildDTOs; let i=index">
                              <td>{{ i + 1}}</td>
                              <td [ngStyle]="{'white-space': 'pre-wrap'}">
                                {{ dataObj?.portName | showHypen }}
                              </td>
                              <td>{{ dataObj?.puaPassage | showHypen }}</td>
                              <td>{{dataObj?.count | showHypen}}</td>
                              <td>
                                <button type="button" class="btn btn-primary" title="Edit"
                                  (click)="editPilotage(dataObj, i)"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" title="Delete" data-toggle="modal"
                                  data-target="#delete_modal" (click)="deletePilotage(i)"><i
                                    class="fa fa-trash"></i></button>
                              </td>
                            </tr>
                            <tr *ngIf="!pilotageHistoryChildDTOs.length" class="text-center">
                              <td colspan="20">No Records Available</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="form_page_btn">
                    <button type="submit" title="Submit" class="btn btn-primary" title="Submit">
                      <i class="fa fa-check"></i>
                      Submit</button>
                      <button type="button" [hidden]="this.formId" class="btn btn-danger" title="Reset" (click)="reset()"
                      title="Reset"><i class="fa fa-refresh"></i> Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<app-common-esign-modal [tempFormObj]="tempFormObj"></app-common-esign-modal>
