<!-- Delete Modal Starts -->
<div class="modal fade delete_modal_" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="addAgent"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 deleteText">
            <h4>Do You Want to delete ?</h4>
          </div>
        </div>
        <div class="modal-footer ad_modal_footer text-center" style="display: block;">
          <div class="text-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal" title="Cancel"><i class="fa fa-times"
                aria-hidden="true"></i></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Delete" (click)="deleteConfirm()"
              data-toggle="tooltip" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal Ends -->