<!--aside open-->
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div class="dropdown user-pro-body text-center">
      <div class="user-pic">
        <img
          src="assets/images/user.png"
          alt="user-img"
          class="avatar-xl rounded-circle mb-1"
        />
      </div>
      <div class="user-info">
        <h6 class="mb-1 text-dark">{{ userIdDetails?.formId }}</h6>
        <h6 class="mb-1 text-dark">{{ userIdDetails?.unitName }}</h6>
        <!-- <h6 *ngIf="userIdDetails?.userGroupName" class="mb-1 text-dark">{{userIdDetails?.userGroupName}}</h6> -->
      </div>
    </div>
  </div>
  <ul class="side-menu sidebar_page_scroll">
    <li>
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../dashboard']"
        ><i class="side-menu__icon fa fa-th"></i
        ><span class="side-menu__label">Dashboard</span></a
      >
    </li>
    <li>
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../inbox']"
        ><i class="side-menu__icon fa fa-inbox"></i
        ><span class="side-menu__label"
          >Inbox
          <span *ngIf="countObj?.inbox > 0" class="counts">{{
            countObj?.inbox
          }}</span>
        </span>
      </a>
    </li>
    <li>
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../outbox']"
        ><i class="side-menu__icon fa fa-envelope-open"></i
        ><span class="side-menu__label"
          >Outbox
          <span *ngIf="countObj?.outbox > 0" class="counts">{{
            countObj?.outbox
          }}</span>
        </span>
      </a>
    </li>
    <li>
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../approved']"
        ><i class="side-menu__icon fa fa-check-circle"></i
        ><span class="side-menu__label"
          >Approved
          <span *ngIf="countObj?.approved > 0" class="counts">{{
            countObj?.approved
          }}</span>
        </span>
      </a>
    </li>
    <li>
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../not-approved']"
        ><i class="side-menu__icon fa fa-reply"></i
        ><span class="side-menu__label"
          >Rejected
          <span *ngIf="countObj?.rejected > 0" class="counts">{{
            countObj?.rejected
          }}</span>
        </span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../passed']"
        ><i class="side-menu__icon fa fa-check"></i
        ><span class="side-menu__label"
          >Passed
          <span *ngIf="countObj?.passed > 0" class="counts">{{
            countObj?.passed
          }}</span>
        </span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../not-passed']"
        ><i class="side-menu__icon fa fa-times-circle"></i
        ><span class="side-menu__label"
          >Not Passed
          <span *ngIf="countObj?.notPassed > 0" class="counts">{{
            countObj?.notPassed
          }}</span>
        </span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../claim-archive']"
      >
        <i class="side-menu__icon fa fa-archive"></i>
        <span class="side-menu__label">Claim Archive</span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier || userIdDetails?.roleTypeId == codeRoleList?.verifier2">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../pay-inbox']"
      >
        <i class="side-menu__icon fa fa-money"></i>
        <span class="side-menu__label">Pay Inbox</span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier || userIdDetails?.roleTypeId == codeRoleList?.verifier2">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../pay-outbox']"
      >
        <i class="side-menu__icon fa fa-envelope-open"></i>
        <span class="side-menu__label">Pay Outbox</span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier || userIdDetails?.roleTypeId == codeRoleList?.verifier2">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../pay-approved']"
      >
        <i class="side-menu__icon fa fa-check-circle"></i>
        <span class="side-menu__label">Pay Approved</span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier || userIdDetails?.roleTypeId == codeRoleList?.verifier2">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../pay-not-approved']"
      >
        <i class="side-menu__icon fa fa-times-circle"></i>
        <span class="side-menu__label">Pay Not Approved</span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../manual-draft']"
      >
        <i class="side-menu__icon fa fa-file"></i>
        <span class="side-menu__label">Manual Draft</span>
      </a>
    </li>
    <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier">
      <a
        (click)="$auth.closeSidebar()"
        class="side-menu__item"
        routerLinkActive="active current"
        [routerLink]="['../budget-allocation']"
      >
        <i class="side-menu__icon fa fa-money"></i>
        <span class="side-menu__label">Budget Allocation</span>
      </a>
    </li>

    <li>
      <!--<a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current"
        [routerLink]="['../web-detail']"><i class="side-menu__icon fa fa-life-ring"></i><span class="side-menu__label">
          Support
        </span>
      </a>-->
      <a
        (click)="openUserManualModal()"
        class="side-menu__item"
        routerLinkActive="active current"
      >
        <i class="side-menu__icon fa fa-th"></i>
        <span class="side-menu__label">User Manual</span>
      </a>
    </li>
  </ul>
  <!-- <img src="assets/images/logo.png" alt="Yatra Logo" class="logo_in_sidebar"> -->
</aside>
<!--aside closed-->
<app-common-user-manual-modal></app-common-user-manual-modal>


