<div class="modal fade" id="view_pilotage_details" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">View Pilotage Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal_form_sec">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div>
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="folder">Pilotage Details</h4>
                  </div>
                  <div class="table-responsive">
                    <table id="exportData" class="table table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th class="wd-5p">S No.</th>
                          <th class="wd-20p">Port Name <i class="fa fa-sort" (click)="sort('customId')"></i></th>
                          <th class="wd-20p">IN/OUT passage </th>
                          <th class="wd-20p">Count<i class="fa fa-sort" (click)="sort('unit')"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let dataObj of pilotageHistoryChildDTOs |  filterComplex : searchObj | orderBy: key: reverse |paginate: { itemsPerPage: noOfPage, currentPage: p };let i=index">
                          <td>{{ (i + 1) + (p - 1) * noOfPage}}</td>
                          <td>{{dataObj?.portName | showHypen}} </td>
                          <td>{{dataObj?.puaPassage | showHypen }}</td>
                          <td>{{dataObj?.count | showHypen}}</td>
                        </tr>
  
                        <tr *ngIf="!pilotageHistoryChildDTOs.length" class="text-center">
                          <td colspan="20">No Records Available</td>
                        </tr>
                        <tr class="noExl pagination_area" *ngIf="pilotageHistoryChildDTOs?.length">
                          <td colspan="20">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>