.wrapper {
    position: relative;
    min-height: 100%;
    padding-top: 35px;
    overflow: hidden;
    background-color: #f9f8ff;
}

.main-content{
    padding-bottom: 65px;
    padding-top: 0;
    padding: 15px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 10px;
}
.claim h3{
    text-align: center;
    color: #104e8d;
    font-weight: 600;
}
.PersonalDetail h4{
    font-size: 18px;
    margin-top: 20px;
    background-color: #104e8d;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}
.request_view_back{
    float: inline-end;
}

.aligned{
    display: flex;
    flex-direction: row-reverse;
}