<div class="wrapper">
  <div class="container">
    <div class="aligned">
      <button type="button" class="btn btn-warning request_view_back" title="Back to Page" (click)="goBack()">
        Back <i class="fa fa-chevron-left" style="display: inline-block"></i>
      </button>
      <!--
      <button *ngIf="canResubmit()" type="button" class="btn btn-success" title="Resubmit"
        [disabled]="resubmitLoading" (click)="resubmitForm()">
        {{ resubmitLoading ? 'Resubmitting...' : 'Resubmit' }}
      </button>
      -->
      <button *ngIf="canSaveAsDraft()" type="button" class="btn btn-info" title="Save as Draft"
        [disabled]="saveAsDraftLoading" (click)="saveAsDraft()">
        {{ saveAsDraftLoading ? 'Saving...' : 'Save as Draft' }}
      </button>
      <button type="button" class="btn btn-info" data-toggle="tooltip" title="Download" (click)="getFormDownloadLink()">
        Download <i class="fa fa-download" aria-hidden="true"></i>
      </button>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-body">
              <div>
                <div class="row">
                  <div class="col-md-12 claim">
                    <h4 class="ml-3">
                      <b>
                        {{ supplementryClaim ? supplementryClaim : "" }}Pilotage
                        Claim</b>
                    </h4>
                    <div class="PersonalDetail container">
                      <h4>Personal Details</h4>
                      <div class="container row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Name </label>
                            <p>{{ formObj?.name | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Personal Number</label>
                            <p>{{ formObj?.pno | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Rank</label>
                            <p>{{ formObj?.rank | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Unit</label>
                            <p>{{ formObj?.codeUnitDTO.descr | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Claim Type</label>
                            <p>{{ formObj?.claimType | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Claim No</label>
                            <p *ngIf="formObj?.claimNo">
                              {{ supplementryClaim ? 'Supplementary ' : '' }}{{ formObj?.claimNo | showHypen }}
                            </p>
                            <span *ngIf="!formObj?.claimNo">-</span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Ship GRT No.</label>
                            <p>{{ formObj?.unitGrtNo | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">Ship Name</label>
                            <p>{{ formObj?.shipName | showHypen }}</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="form-label">File No</label>
                            <p>{{ formObj?.fileNo | showHypen }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="PersonalDetail container">
                      <h4>Pilotage Details</h4>
                      <div class="table-responsive">
                        <table id="exportData" class="table table-bordered" style="width: 100%">
                          <thead>
                            <tr>
                              <th class="wd-5p">SL</th>
                              <th class="wd-20p">
                                Channel/Port / Anchor Bearing
                              </th>
                              <th class="wd-20p">Authority for movements (Letter No. & Dated, Signal DTG)</th>
                              <th class="wd-20p">Date and time of completion movement</th>
                              <th class="wd-20p">Day/Night</th>
                              <th class="wd-20p">IN/OUT passage</th>
                              <th class="wd-20p">Maximum Draught at time of movement in meters and feet</th>
                              <th class="wd-20p">
                                Total number of similar movement
                              </th>
                              <th class="wd-20p">Port Rate </th>
                              <th class="wd-20p">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dataObj of dataList; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td [ngStyle]="{ 'white-space': 'pre-wrap' }">
                                {{ dataObj?.portName | showHypen }} <br />
                                {{ dataObj?.anchorBearing | showHypen }}
                              </td>
                              <td [ngStyle]="{ 'white-space': 'pre-wrap' }">
                                {{ dataObj?.entryAuth | showHypen }}
                              </td>
                              <td>
                                {{$auth.formatEntryDate(dataObj?.entryDate, dataObj?.entryTime) }}
                                <span
                                  [innerHTML]="$auth.formatOperation(dataObj?.operationType, dataObj?.operationTime)"></span>
                              </td>
                              <td>{{ dataObj?.movementTime | showHypen }}</td>
                              <td>{{ dataObj?.puaPassage | showHypen }}</td>
                              <td>{{ dataObj?.maxDraughtInMtr | showHypen }} Mtr/{{ dataObj?.maxDraughtInFt | showHypen
                                }} ft</td>
                              <td>
                                {{ dataObj?.noOfSimilarMovement | numToWord }}
                              </td>
                              <td>
                                {{ dataObj?.portRate | showHypen }}
                              </td>
                              <td>{{ dataObj?.amount | showHypen }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div *ngIf="documentDtos?.length > 0">
                        <div class="row">
                          <div class="col-md-12">
                            <h4 class="folder">DOCUMENTS</h4>
                          </div>
                          <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                              <table id="exportData" class="table table-bordered" style="width: 100%">
                                <thead>
                                  <tr>
                                    <th class="wd-5p">SL</th>
                                    <th class="wd-20p">Document Name</th>
                                    <th class="wd-20p">Upload Document</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="
                                      let dataObj of documentDtos;
                                      let i = index
                                    ">
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                      {{
                                      dataObj?.codePilDocInfoDTO?.docName
                                      | showHypen
                                      }}
                                      <span *ngIf="
                                          dataObj?.codePilDocInfoDTO?.docName ==
                                          'Other'
                                        ">({{ dataObj?.otherDocName }})</span>
                                    </td>
                                    <td>
                                      <button type="button" title="View" class="btn btn-warning"
                                        (click)="$auth.viewFile(dataObj?.url)">
                                        <i class="fa fa-eye"></i>View
                                      </button>
                                    </td>
                                  </tr>
                                  <tr *ngIf="!documentDtos.length" class="text-center">
                                    <td colspan="20">No Records Available</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="formObj?.formRemark">
                        <strong>Remarks:</strong><br />
                        {{ formObj?.formRemark || 'No remarks provided' }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
