/* sidebar start */
.theme_yellow a:hover,
.theme_yellow .breadcrumb-item a,
.theme_yellow .side-menu__item.active,
.theme_yellow .side-menu__item.active .side-menu__icon,
.theme_yellow .side-menu__item:hover .side-menu__label,
.theme_yellow .side-menu__item:hover .side-menu__icon,
.theme_yellow .side-menu__item:hover .angle,
.theme_yellow .slide.is-expanded .slide-menu li a:hover,
.theme_yellow .slide-menu a.active{
      color: #f39c11 !important;
}
/* sidebar end */

/* header start */
.theme_yellow .ledger_logo{
  width: 175px;
  background: #fff;
  text-align: center;
  margin-right: 15px;
  border-radius: 2px;
  margin-left: 10px;
  }
.theme_yellow span.admin_text_span,
.theme_yellow .wallet_back,
.theme_yellow .top-header a,
.theme_yellow .icon i{
  color: #fff !important;
}
.theme_yellow .nav-link.icon{
  border: 1px solid #fff;
}
.theme_yellow .top-header .dropdown.show a{
    color: #031938 !important;
}
.theme_yellow .header.top-header{
    background: #f39c11 !important;
}
/* header end */

/* table strt */
.theme_yellow table thead tr,
.theme_yellow .pagination_area .ngx-pagination .current{
    background: #f39c11 !important;
}
/* table end */