<!--Footer-->
<footer class="footer">
  <div class="footer-flex" style="margin: 0 50px;">
    <div class="img-sec">
      <img src="assets/images/logo.png" height="60px" width="50px" style="margin-right: 50px;">
      <img src="assets/images/Ministry_of_Defence_logo.webp" height="60px" width="75px">
    </div>
    <div>
      <p>Website Content Managed by IHQ MOD(N)/DNPF</p>
      <p>Design and Developed By Avenir Innovative</p>
    </div>
    <div style="width: 1;">
      |
    </div>
    <div>
      <p>Best Viewed in Browser Google Chrome 70+</p>
    </div>
    <div>
      |
    </div>
    <div>
      <p>&#169; Copyright &#64; 2024 Indian Navy</p>
      <p>{{buildNo}}</p>
    </div>
  </div>
  <!-- <a [routerLink]="['../faq']" class="footer_faq"> FAQ </a> -->
</footer>
<!-- End Footer-->