<div class="modal fade" id="manage_faq" tabindex="-1" role="dialog" aria-labelledby="manage_admin" data-keyboard="false"
  data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage_admin">{{recordObj.id ? "UPDATE":"ADD"}} FAQ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form autocomplete="off" (ngSubmit)="recordForm.form.valid && saveRecord();" #recordForm="ngForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">Question <sup class="required-msg">*</sup> <small
                class="text-muted">(minlength: 8
              maxlength: 1000) Characters</small></label>
              <input type="text" class="form-control" [(ngModel)]="recordObj.ques" name="ques" #ques="ngModel"
                required minlength="8" maxlength="1000" placeholder="Enter Question">
                
                  <div *ngIf="ques.touched || (recordForm.submitted &amp;&amp; ques.invalid)">
                    
                      <div class="invalid-msg" *ngIf="ques.errors?.required">Question is
                        required
                      </div>
                    
                  </div>
                
                
                  <div class="invalid-msg" *ngIf="recordObj.ques &amp;&amp; ques.invalid">Question Should not be
                  less than 8 & greater then 1000 digits</div>
                
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">Answer <sup class="required-msg">*</sup><small class="text-muted">(minlength:
              8 maxlength: 1000) Characters</small></label>
              <angular-editor [placeholder]="'Enter text here...'" #ans="ngModel" name="ans"
                [(ngModel)]="recordObj.ans" minlength="8" maxlength="1000" [config]="editorConfig" required>
              </angular-editor>
              
                <div *ngIf="ans.touched || (recordForm.submitted &amp;&amp; ans.invalid)">
                  
                    <div class="invalid-msg" *ngIf="ans.errors?.required">Answer is
                      required
                    </div>
                  
                </div>
              
              
                <div class="invalid-msg" *ngIf="recordObj.ans &amp;&amp; ans.invalid">Answer Should not be
                less than 8 & greater then 1000 digits</div>
              
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resetForm()" title="Reset"><i class="fa fa-refresh"
        aria-hidden="true"></i></button>
        
          <button  type="submit" title="Submit" [disabled]="disableBtn" class="btn btn-primary" data-toggle="tooltip" title="Add"
             *ngIf="!recordObj.id">
            <i class="fa fa-plus" aria-hidden="true" tooltip title="Add"></i></button>
          
          
            <button  type="submit" title="Submit" [disabled]="disableBtn" class="btn btn-primary" data-toggle="tooltip" title="Edit"
               *ngIf="recordObj.id">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          
        </div>
      </form>
    </div>
  </div>
</div>