<!--aside open-->
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div class="dropdown user-pro-body text-center">
      <div class="user-pic">
        <img src="assets/images/user.png" alt="user-img" class="avatar-xl rounded-circle mb-1" />
      </div>
      <div class="user-info">
        <h6 class="mb-1 text-dark">{{ userIdDetails?.formId }}</h6>
        <h6 class="mb-1 text-dark">{{ userIdDetails?.unitName }}</h6>
      </div>
    </div>
  </div>

  
    <ul class="side-menu sidebar_page_scroll" *ngIf="$auth.isRuntimeAdv()">
      <li>
        <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['inbox']">
          <i class="side-menu__icon fa fa-inbox"></i><span class="side-menu__label">Inbox 
          <span class="counts" *ngIf="countObj?.inboxCount > 0">{{ countObj?.inboxCount }}</span>
        </span>
      </a>
    </li>
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['outbox']">
        <i class="side-menu__icon fa fa-reply-all"></i><span class="side-menu__label">Outbox 
        <span class="counts" *ngIf="countObj?.outboxCount > 0">{{ countObj?.outboxCount }}</span>
      </span>
    </a>
  </li>
  <li>
    <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['approved']">
      <i class="side-menu__icon fa fa-check-square"></i><span class="side-menu__label">Approved 
      <span class="counts" *ngIf="countObj?.approvedCount > 0">{{ countObj?.approvedCount }}</span>
    </span>
  </a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['not-approved']">
    <i class="side-menu__icon fa fa-times-circle"></i><span class="side-menu__label">Not Approved 
    <span class="counts" *ngIf="countObj?.notApprovedCount > 0">{{ countObj?.notApprovedCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['passed']">
    <i class="side-menu__icon fa fa-check"></i><span class="side-menu__label">Passed 
    <span class="counts" *ngIf="countObj?.passedCount > 0">{{ countObj?.passedCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['not-passed']">
    <i class="side-menu__icon fa fa-times"></i><span class="side-menu__label">Not Passed 
    <span class="counts" *ngIf="countObj?.notPassedCount > 0">{{ countObj?.notPassedCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['archive']">
    <i class="side-menu__icon fa fa-archive"></i><span class="side-menu__label">Archive 
    <span class="counts" *ngIf="countObj?.archiveCount > 0">{{ countObj?.archiveCount }}</span>
  </span>
</a>
</li>

  <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier">
    <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['settings']">
      <i class="side-menu__icon fa fa-cog"></i><span class="side-menu__label">Settings</span>
    </a>
  </li>

<li routerLinkActive="is-expanded" class="slide">
  <a class="side-menu__item" data-toggle="slide">
    <i class="side-menu__icon fa fa-money"></i>
    <span class="side-menu__label">Update Pay Details</span>
    <i class="angle fa fa-angle-right"></i>
  </a>
  <ul class="slide-menu">
    <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['pay-inbox']">Inbox 
      <span class="counts" *ngIf="countObj?.payIbCount > 0">{{ countObj?.payIbCount }}</span>
    </a></li>
    <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['pay-outbox']">Outbox 
      <span class="counts" *ngIf="countObj?.payObCount > 0">{{ countObj?.payObCount }}</span>
    </a></li>
    <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['pay-approved']">Approved 
      <span class="counts" *ngIf="countObj?.payApCount > 0">{{ countObj?.payApCount }}</span>
    </a></li>
    <li><a (click)="$auth.closeSidebar()" class="slide-item" routerLinkActive="active current" [routerLink]="['pay-not-approved']">Not Approved 
      <span class="counts" *ngIf="countObj?.payNapCount > 0">{{ countObj?.payNapCount }}</span>
    </a></li>
  </ul>
</li>
</ul>



  <ul class="side-menu sidebar_page_scroll" *ngIf="$auth.isRuntimeClm()">
    <li>
      <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/inbox']">
        <i class="side-menu__icon fa fa-inbox"></i><span class="side-menu__label">Inbox 
        <span class="counts" *ngIf="countObj?.inboxClaimCount > 0">{{ countObj?.inboxClaimCount }}</span>
      </span>
    </a>
  </li>
  <li>
    <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/outbox']">
      <i class="side-menu__icon fa fa-reply-all"></i><span class="side-menu__label">Outbox 
      <span class="counts" *ngIf="countObj?.outboxClaimCount > 0">{{ countObj?.outboxClaimCount }}</span>
    </span>
  </a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/approved']">
    <i class="side-menu__icon fa fa-check-square"></i><span class="side-menu__label">Approved 
    <span class="counts" *ngIf="countObj?.approvedClaimCount > 0">{{ countObj?.approvedClaimCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/not-approved']">
    <i class="side-menu__icon fa fa-times-circle"></i><span class="side-menu__label">Not Approved 
    <span class="counts" *ngIf="countObj?.notApprovedClaimCount > 0">{{ countObj?.notApprovedClaimCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/passed']">
    <i class="side-menu__icon fa fa-check"></i><span class="side-menu__label">Passed 
    <span class="counts" *ngIf="countObj?.passedClaimCount > 0">{{ countObj?.passedClaimCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/not-passed']">
    <i class="side-menu__icon fa fa-times"></i><span class="side-menu__label">Not Passed 
    <span class="counts" *ngIf="countObj?.notPassedClaimCount > 0">{{ countObj?.notPassedClaimCount }}</span>
  </span>
</a>
</li>
<li>
  <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['claim/archive']">
    <i class="side-menu__icon fa fa-archive"></i><span class="side-menu__label">Archive 
    <span class="counts" *ngIf="countObj?.archiveClaimCount > 0">{{ countObj?.archiveClaimCount }}</span>
  </span>
</a>
</li>

  <li *ngIf="userIdDetails?.roleTypeId == codeRoleList?.verifier2">
    <a (click)="$auth.closeSidebar()" class="side-menu__item" routerLinkActive="active current" [routerLink]="['settings']">
      <i class="side-menu__icon fa fa-cog"></i><span class="side-menu__label">Settings</span>
    </a>
  </li>

</ul>

</aside>
<!--aside closed-->
