<div class="page">
  <div class="page-main">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="app-content">
      <div class="side-app">
        <!--Page header-->
        <div class="page-header">
          <div class="page-leftheader">
            <h4 class="page-title">
              {{ supplementryClaim ? supplementryClaim : "" }}Pilotage Claim
            </h4>
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item">
                <a [routerLink]="['../dashboard']">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ supplementryClaim ? supplementryClaim : "" }}Pilotage Claim
              </li>
            </ol>
          </div>
          <div>
            <button type="button" class="btn btn-dark request_view_back" title="Back to Page" (click)="goBack()">
              <i class="fa fa-chevron-left" style="display: inline-block"></i>
            </button>
          </div>
        </div>
        <!--End Page header-->

        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <form class="page_form" autocomplete="off"
                  (ngSubmit)="requiredForm.form.valid && saveRecord(codeStatus?.outbox)" #requiredForm="ngForm"
                  novalidate>
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Personal Details</h2>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Personal Number
                          <sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="Personal Number" maxlength="10"
                          [(ngModel)]="formObj.pno" #pno="ngModel" name="pno" required disabled />
                        <div *ngIf="
                            pno.touched ||
                            (requiredForm.submitted && pno.invalid)
                          ">
                          <div *ngIf="pno.errors?.required" class="invalid-msg">
                            Personal No is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Name <sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="Name" maxlength="50"
                          [(ngModel)]="formObj.name" #name="ngModel" name="name" required disabled />
                        <div *ngIf="
                            name.touched ||
                            (requiredForm.submitted && name.invalid)
                          ">
                          <div *ngIf="name.errors?.required" class="invalid-msg">
                            Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Rank <sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="Rank" maxlength="50"
                          [(ngModel)]="formObj.rank" #rank="ngModel" name="rank" required disabled />
                        <div *ngIf="
                            rank.touched ||
                            (requiredForm.submitted && rank.invalid)
                          ">
                          <div *ngIf="rank.errors?.required" class="invalid-msg">
                            Rank is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group purchase_product_name">
                        <label class="form-label">Unit <sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="Unit" maxlength="50"
                          [(ngModel)]="formObj.codeUnitDTO.descr" #unit="ngModel" name="unit" required disabled />
                        <div *ngIf="
                            unit.touched ||
                            (requiredForm.submitted && unit.invalid)
                          ">
                          <div *ngIf="unit.errors?.required" class="invalid-msg">
                            Unit is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group purchase_product_name">
                        <label class="form-label">Claim Type <sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="Claim Type" maxlength="50"
                          [(ngModel)]="formObj.claimType" #claimType="ngModel" name="claimType" required disabled />
                        <!-- <div *ngIf="unit.touched || (requiredForm.submitted && unit.invalid)">
                          <div *ngIf="unit.errors?.required" class="invalid-msg">
                            Unit is required
                          </div>
                        </div> -->
                      </div>
                    </div>

                    <div class="col-md-3" *ngIf="formObj.claimNo">
                      <div class="form-group">
                        <label class="form-label">Claim No</label>
                        <input type="text" class="form-control" placeholder="Claim No" maxlength="150"
                          [(ngModel)]="formObj.claimNo" #claimNo="ngModel" name="claimNo" disabled />
                        <!-- <input *ngIf="supplementryClaim" type="text" class="form-control" placeholder="Claim No" maxlength="150"
                          [(ngModel)]="formObj.supClaimNo" #supClaimNo="ngModel" name="supClaimNo" disabled /> -->
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">File No<sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="File No" maxlength="150"
                          [(ngModel)]="formObj.fileNo" #fileNo="ngModel" name="fileNo" required />
                        <div *ngIf="fileNo.touched || (requiredForm.submitted && fileNo.invalid)">
                          <div *ngIf="fileNo.errors?.required" class="invalid-msg">
                            File No is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Ship GRT No.<sup class="required-msg">*</sup></label>
                        <ngx-select placeholder="Ship GRT No." [items]="selecteShipList" optionTextField="unitGrtNo"
                          optionValueField="unitGrtNo" name="unitGrtNo" #unitGrtNo="ngModel"
                          (ngModelChange)="getGrtNo($event)" [(ngModel)]="formObj.unitGrtNo" [allowClear]="true"
                          required>
                        </ngx-select>
                        <div *ngIf="
                            unitGrtNo.touched ||
                            (requiredForm.submitted && unitGrtNo.invalid)
                          ">
                          <div *ngIf="unitGrtNo.errors?.required" class="invalid-msg">
                            Ship GRT No. is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Ship Name field will only appear after selecting a Ship GRT No. -->
                    <div class="col-md-3" *ngIf="formObj.unitGrtNo">
                      <div class="form-group">
                        <label class="form-label">Ship Name <sup class="required-msg">*</sup></label>
                        <ngx-select placeholder="Ship Name" [items]="selecteGrtList" optionTextField="shipName"
                          optionValueField="shipName" name="shipName" #shipName="ngModel" [(ngModel)]="formObj.shipName"
                          [allowClear]="true" required>
                        </ngx-select>
                        <div *ngIf="
                            shipName.touched ||
                            (requiredForm.submitted && shipName.invalid)
                          ">
                          <div *ngIf="shipName.errors?.required" class="invalid-msg">
                            Ship Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form class="page_form" autocomplete="off" (ngSubmit)="pilotageForm.form.valid && addPilotage()"
                    #pilotageForm="ngForm" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Pilotage Details</h2>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label">Channel/Port<sup class="required-msg">*</sup></label>
                          <ngx-select [items]="portList" optionTextField="portName" optionValueField="portName"
                            name="portName" #portName="ngModel" [(ngModel)]="pilotageObj.portName" [allowClear]="true"
                            required placeholder="Channel/Port"
                            (ngModelChange)="getPortRate(pilotageObj.portName,formObj.unitGrtNo,pilotageObj.entryDate)"
                            [disabled]="!formObj.unitGrtNo"> <!-- Disable until Ship GRT No. is selected -->
                          </ngx-select>
                          <div *ngIf="
                              portName.touched ||
                              (pilotageForm.submitted && portName.invalid)
                            ">
                            <div *ngIf="portName.errors?.required" class="invalid-msg">
                              Channel/Port is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="form-label">Anchor Bearing</label>
                          <textarea class="form-control text" placeholder="Anchor Bearing" maxlength="100" rows="1"
                            [(ngModel)]="pilotageObj.anchorBearing" #anchorBearing="ngModel" name="anchorBearing">
                          </textarea>
                          <div *ngIf="
                              anchorBearing.touched ||
                              (pilotageForm.submitted && anchorBearing.invalid)
                            ">
                            <div *ngIf="anchorBearing.errors?.required" class="invalid-msg">
                              Anchor Bearing is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="form-label">Authority for movements (Letter No. & Dated, Signal DTG)
                            <sup class="required-msg">*</sup></label>
                          <textarea class="form-control text"
                            placeholder="Authority for movements (Letter No. & Dated, Signal DTG)" maxlength="500"
                            rows="1" [(ngModel)]="pilotageObj.entryAuth" #entryAuth="ngModel" name="entryAuth" required>
                          </textarea>
                          <div *ngIf="
                              entryAuth.touched ||
                              (pilotageForm.submitted && entryAuth.invalid)
                            ">
                            <div *ngIf="entryAuth.errors?.required" class="invalid-msg">
                              Authority for movements (Letter No. & Dated, Signal DTG) is required
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="row">
                          <!-- Date of completion movement -->
                          <div class="col-md-8">
                            <label class="form-label">Date of completion movement <sup
                                class="required-msg">*</sup></label>
                            <div class="input-group">
                              <input type="date" class="form-control" [(ngModel)]="pilotageObj.entryDate"
                                #entryDate="ngModel" name="entryDate" [max]="today | date : 'yyyy-MM-dd'"
                                (ngModelChange)="getPortRate(pilotageObj.portName,formObj.unitGrtNo,pilotageObj.entryDate)"
                                min="1000-01-01" required />
                            </div>
                            <div *ngIf="entryDate.touched || (pilotageForm.submitted && entryDate.invalid)">
                              <small class="text-danger" *ngIf="entryDate.errors?.required">Date of completion movement
                                is
                                required</small>
                            </div>
                          </div>

                          <!-- Time of completion movement -->
                          <div class="col-md-4">
                            <label class="form-label">Time <sup class="required-msg">*</sup></label>
                            <div class="input-group">
                              <input type="tel" class="form-control" [(ngModel)]="pilotageObj.entryTime"
                                #entryTime="ngModel" name="entryTime" placeholder="HHMM (24hr)" maxlength="4"
                                appNumberOnly required />
                              <div class="input-group-append">
                                <span class="input-group-text">Hrs</span>
                              </div>
                            </div>
                            <div *ngIf="entryTime.touched || (pilotageForm.submitted && entryTime.invalid)">
                              <small class="text-danger" *ngIf="entryTime.errors?.required">Time of completion movement
                                is
                                required</small>
                            </div>
                          </div>

                        </div>
                      </div>


                      <div class="col-md-3">
                        <div class="form-group purchase_product_name">
                          <label class="form-label">IN/OUT passage
                            <sup class="required-msg">*</sup></label>
                          <ngx-select placeholder="IN/OUT passage" [items]="passageList" optionTextField="descr"
                            optionValueField="descr" name="puaPassage" #puaPassage="ngModel"
                            (ngModelChange)="onInOutChange($event)" [(ngModel)]="pilotageObj.puaPassage"
                            [allowClear]="true" required>
                          </ngx-select>
                          <div *ngIf="
                              puaPassage.touched ||
                              (pilotageForm.submitted && puaPassage.invalid)
                            ">
                            <div *ngIf="puaPassage.errors?.required" class="invalid-msg">
                              IN/OUT Passage is required
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label">Day/Night
                            <sup class="required-msg">*</sup></label>
                          <ngx-select placeholder="Day/Night" [items]="selectedTimeOfDay" name="movementTime"
                            (ngModelChange)="onMovementTimeChange($event)" #movementTime="ngModel"
                            [(ngModel)]="pilotageObj.movementTime" [allowClear]="true" required>
                          </ngx-select>
                          <div *ngIf="movementTime.touched || (pilotageForm.submitted && movementTime.invalid)">
                            <div *ngIf="movementTime.errors?.required" class="invalid-msg">
                              Day/Night is required
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3" *ngIf="pilotageObj.movementTime === 'Night'">

                        <div class="row">
                          <!-- Dropdown for ENT/MNT (ENT/MNT) -->
                          <div class="col-md-6">
                            <label class="form-label">ENT/MNT <sup class="required-msg">*</sup></label>
                            <ngx-select [items]="operationTypeList" optionTextField="id" optionValueField="id"
                              name="operationType" #operationType="ngModel" [(ngModel)]="pilotageObj.operationType"
                              [allowClear]="true" required [required]="pilotageObj.movementTime === 'Night'"
                              placeholder="ENT/MNT">
                            </ngx-select>
                            <div *ngIf="operationType.touched || (pilotageForm.submitted && operationType.invalid)">
                              <small class="text-danger" *ngIf="operationType.errors?.required">ENT/MNT is
                                required</small>
                            </div>
                          </div>

                          <!-- Input for ENT/MNT Time in 24-hour format -->
                          <div class="col-md-6">
                            <label class="form-label">ENT/MNT Time <sup class="required-msg">*</sup></label>
                            <div class="input-group">
                              <input type="tel" class="form-control" [(ngModel)]="pilotageObj.operationTime"
                                #operationTime="ngModel" name="operationTime" placeholder="HHMM (24hr)" maxlength="4"
                                appNumberOnly [required]="pilotageObj.movementTime === 'Night'" />
                              <div class="input-group-append">
                                <span class="input-group-text">Hrs</span>
                              </div>
                            </div>
                            <div *ngIf="operationTime.touched || (pilotageForm.submitted && operationTime.invalid)">
                              <small class="text-danger" *ngIf="operationTime.errors?.required">ENT/MNT Time is
                                required</small>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label">
                            Maximum Draught at time of movement
                            <sup class="required-msg">*</sup>
                          </label>
                          <div class="input-group">
                            <!-- Input for Meters -->
                            <input type="text" class="form-control" placeholder="Max draught in Mtr" maxlength="50"
                              [(ngModel)]="pilotageObj.maxDraughtInMtr" #maxDraughtInMtr="ngModel"
                              name="maxDraughtInMtr" required appDecimalNumber />
                            <span class="input-group-text">Mtr</span>

                            <!-- Input for Feet -->
                            <input type="text" class="form-control" placeholder="Max draught in Ft" maxlength="50"
                              [(ngModel)]="pilotageObj.maxDraughtInFt" #maxDraughtInFt="ngModel" name="maxDraughtInFt"
                              required appDecimalNumber />
                            <span class="input-group-text">Ft</span>
                          </div>

                          <!-- Validation Messages -->
                          <div *ngIf="(maxDraughtInMtr.touched || pilotageForm.submitted) && maxDraughtInMtr.invalid">
                            <div *ngIf="maxDraughtInMtr.errors?.required" class="invalid-msg">
                              Max draught in meters is required
                            </div>
                          </div>

                          <div *ngIf="(maxDraughtInFt.touched || pilotageForm.submitted) && maxDraughtInFt.invalid">
                            <div *ngIf="maxDraughtInFt.errors?.required" class="invalid-msg">
                              Max draught in feet is required
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label">Port Rate <sup class="required-msg">*</sup></label>
                          <input type="text" class="form-control" placeholder="Port Rate" maxlength="50"
                            [(ngModel)]="pilotageObj.portRate" #portRate="ngModel" name="portRate" required
                            appDecimalNumber
                            [disabled]="(!isManualRateEntry && initialPortRate !== 0) || isRateBlocked || (pilotageObj.portRate == -1)" />

                          <div *ngIf="
                              portRate.touched ||
                              (pilotageForm.submitted && portRate.invalid)
                            ">
                            <div *ngIf="portRate.errors?.required" class="invalid-msg">
                              Port Rate is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="form-label" *ngIf="!supplementryClaim">Amount <sup
                              class="required-msg">*</sup></label>
                          <label class="form-label" *ngIf="supplementryClaim">Amount (Difference from old rates) <sup
                              class="required-msg">*</sup></label>
                          <input type="text" class="form-control" placeholder="Amount" maxlength="50"
                            [(ngModel)]="pilotageObj.amount" #amount="ngModel" name="amount" required
                            (ngModelChange)="checkAmountIsValid($event)" appDecimalNumber
                            [disabled]="isRateBlocked || (pilotageObj.portRate == -1)" />
                          <div *ngIf="amount.touched || (pilotageForm.submitted && amount.invalid)">
                            <div *ngIf="amount.errors?.required" class="invalid-msg">
                              Amount is required
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">
                            Total Number Of Similar Movements Carried Out Previously Both Day and Night (Between 0-5)
                            <sup class="required-msg">*</sup>
                          </label>

                          <select class="form-control" [(ngModel)]="pilotageObj.noOfSimilarMovement"
                            name="noOfSimilarMovement" #noOfSimilarMovement="ngModel" required>
                            <option [value]="0">Nil</option>
                            <option [value]="1">One</option>
                            <option [value]="2">Two</option>
                            <option [value]="3">Three</option>
                            <option [value]="4">Four</option>
                            <option [value]="5">Five</option>
                          </select>

                          <div
                            *ngIf="noOfSimilarMovement.touched || (pilotageForm.submitted && noOfSimilarMovement.invalid)">
                            <div *ngIf="noOfSimilarMovement.errors?.required" class="invalid-msg">
                              Similar movement is required
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-12 my-3">
                        <button type="submit" title="Submit" class="btn btn-primary" title="Add">
                          <i class="fa fa-plus"></i> Add
                        </button>
                        <button type="button" class="btn btn-danger" title="Reset" (click)="resetPilotage()">
                          <i class="fa fa-refresh"></i> Reset
                        </button>
                      </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="table-responsive">
                        <table id="exportData" class="table table-bordered" style="width: 100%">
                          <thead>
                            <tr>
                              <th class="wd-5p">SL</th>
                              <th class="wd-20p">
                                Channel/Port / Anchor Bearing
                              </th>
                              <th class="wd-20p">Authority for movements (Letter No. & Dated, Signal DTG)</th>
                              <th class="wd-20p">Date and time of completion movement</th>
                              <th class="wd-20p">Day/Night</th>
                              <th class="wd-20p">IN/OUT passage</th>
                              <th class="wd-20p">Maximum Draught at time of movement in meters and feet</th>
                              <th class="wd-20p">
                                Total number of similar movement
                              </th>
                              <th class="wd-20p">Port Rate</th>
                              <th class="wd-20p">Amount</th>
                              <th class="actionBtnWidth">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="
                                let dataObj of formChildPilotageDTOs;
                                let i = index
                              ">
                              <td>{{ i + 1 }}</td>
                              <td [ngStyle]="{ 'white-space': 'pre-wrap' }">
                                {{ dataObj?.portName | showHypen }} <br />
                                {{ dataObj?.anchorBearing | showHypen }}
                              </td>

                              <td [ngStyle]="{ 'white-space': 'pre-wrap' }">
                                {{ dataObj?.entryAuth | showHypen }}
                              </td>
                              <td>
                                {{$auth.formatEntryDate(dataObj?.entryDate, dataObj?.entryTime) }}
                                <span
                                  [innerHTML]="$auth.formatOperation(dataObj?.operationType, dataObj?.operationTime)"></span>
                              </td>
                              <td>{{ dataObj?.movementTime | showHypen }}</td>
                              <td>{{ dataObj?.puaPassage | showHypen }}</td>
                              <td>
                                {{ dataObj?.maxDraughtInMtr | showHypen }} Mtr/{{ dataObj?.maxDraughtInFt | showHypen }}
                                ft
                              </td>
                              <td>
                                {{ dataObj?.noOfSimilarMovement | showHypen }}
                              </td>
                              <td>{{ dataObj?.portRate | showHypen }}</td>
                              <td>{{ dataObj?.amount | showHypen }}</td>
                              <td>
                                <button type="button" class="btn btn-primary" title="Edit"
                                  (click)="editPilotage(dataObj, i)">
                                  <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Delete" data-toggle="modal"
                                  data-target="#delete_modal" (click)="deletePilotage(i)">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="!formChildPilotageDTOs.length" class="text-center">
                              <td colspan="20">No Records Available</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <!-- <app-common-document [documentDtos]="documentDtos"></app-common-document> -->
                  <app-common-document></app-common-document>
                  <!-- REMARKS (place it before SELF DECLARATION) -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label">Remarks</label>
                        <textarea class="form-control" name="formRemark" [(ngModel)]="formObj.formRemark"
                          #formRemark="ngModel" placeholder="Enter remarks (if any)" rows="3" maxlength="1000">
      </textarea>
                        <!-- optional validation msg -->
                        <!-- <div *ngIf="formRemark.touched && formRemark.invalid" class="invalid-msg">
        Remarks is required
      </div> -->
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h2>SELF DECLARATION</h2>
                      <input type="checkbox" (click)="certified(checked)" #checked />
                      &nbsp;
                      <label>I certify that to the best of my knowledge and belief
                        all the answers given above are true. I also undertake
                        that if, on investigation, any of the statement made by
                        me in this application are found to be false. I will be
                        liable to appropriate disciplinary action .</label><br />
                    </div>
                  </div>

                  <div class="form_page_btn">
                    <button type="submit" title="Submit" class="btn btn-primary" title="Submit"
                      [disabled]="isCertified">
                      <i class="fa fa-check"></i>
                      Submit
                    </button>
                    <button type="button" class="btn btn-info" title="Save as Draft"
                      (click)="saveRecord(codeStatus?.draft)">
                      <i class="fa fa-check"></i> Save as Draft
                    </button>
                    <button type="button" [hidden]="!this.formId" class="btn btn-warning" title="Preview"
                      (click)="actionPage(formObj)">
                      <i class="fa fa-eye"></i> Preview
                    </button>
                    <button type="button" [hidden]="this.formId" class="btn btn-danger" title="Reset" (click)="reset()"
                      title="Reset">
                      <i class="fa fa-refresh"></i> Reset
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<app-port-rate-modal [portRateList]="portRateList"
  (selectedPortRate)="onPortRateSelected($event)"></app-port-rate-modal>
<app-common-esign-modal [tempFormObj]="tempFormObj"></app-common-esign-modal>
