<div class="app-content" (click)="$auth.closeSidebar()">
  <div class="side-app">
    <!--Page header-->
    <div class="page-header gov-page-toolbar">
      <div class="page-leftheader">
        <h4 class="page-title">Change Password</h4>
        <ol class="breadcrumb pl-0">
          <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card mb-5 shadow-sm">
          <div class="card-body">
            <form class="change_password_form" autocomplete="off" (ngSubmit)="f.form.valid && savePassword();"
              #f="ngForm" novalidate>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form_password">
                    <label class="col-form-label">Old Password</label>
                    <input type="password" placeholder="Enter Old Password" [(ngModel)]="passwordObj.password"
                      name="password" #password="ngModel" required class="form-control" minlength="4" maxlength="30"
                      required appShowHidePassword>
                      
                        <div class="invalid-msg" *ngIf="password.touched || f.submitted">
                          
                            <div *ngIf="password.errors?.required">Old Password is required
                            </div>
                          
                        </div>
                      
                      
                        <div class="invalid-msg" *ngIf="passwordObj.password &amp;&amp; password.invalid"> Password must be
                        between 4 and 15 characters</div>
                      
                    </div>
                    <div class="form-group form_password">
                      <label class="col-form-label">New Password</label>
                      <input type="password" placeholder="Enter New Password" [(ngModel)]="passwordObj.nPassword"
                        name="nPassword" #nPassword="ngModel" class="form-control" minlength="4" maxlength="30" required
                        appShowHidePassword (change)="handleNewPassword()">
                        
                          <div class="invalid-msg" *ngIf="nPassword.touched || f.submitted">
                            
                              <div *ngIf="nPassword.errors?.required">New Password is required
                              </div>
                            
                          </div>
                        
                        
                          <div class="invalid-msg" *ngIf="passwordObj.nPassword &amp;&amp; nPassword.invalid"> Password must be
                          between 4 and 15 characters</div>
                        
                      </div>
                      <div class="form-group form_password">
                        <label class="col-form-label">Confirm Password</label>
                        <input type="password" placeholder="Enter Confirm Password" [(ngModel)]="passwordObj.cPassword"
                          name="cPassword" #cPassword="ngModel" class="form-control" minlength="4" maxlength="30" required
                          appShowHidePassword>
                          
                            <div class="invalid-msg" *ngIf="cPassword.touched || f.submitted">
                              
                                <div *ngIf="cPassword.errors?.required">Confirm Password is required
                                </div>
                              
                              
                                <div *ngIf="passwordObj.cPassword &amp;&amp; passwordObj.cPassword !=passwordObj.nPassword">
                                Please Enter Same Password</div>
                              
                            </div>
                          
                          
                            <div class="invalid-msg" *ngIf="passwordObj.cPassword &amp;&amp; cPassword.invalid"> Password must be
                            between 4 and 15 characters</div>
                          
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="strong_password"
                          [ngClass]="strongPasswordObj?.checkSamll == 1 ? 'strong_password_right': 'strong_password' ">
                          <i [ngClass]="strongPasswordObj?.checkSamll == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                          <h5>At least one small letter (a-z)</h5>
                        </div>
                        <div class="strong_password"
                          [ngClass]="strongPasswordObj?.checkCaptial == 1 ? 'strong_password_right': 'strong_password' ">
                          <i
                          [ngClass]="strongPasswordObj?.checkCaptial == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                          <h5>At least one capital letter (A-Z)</h5>
                        </div>
                        <div class="strong_password"
                          [ngClass]="strongPasswordObj?.checkNumber == 1 ? 'strong_password_right': 'strong_password' ">
                          <i
                          [ngClass]="strongPasswordObj?.checkNumber == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                          <h5>At least one number (0-9)</h5>
                        </div>
                        <div class="strong_password"
                          [ngClass]="strongPasswordObj?.checkSpecial == 1 ? 'strong_password_right': 'strong_password' ">
                          <i
                          [ngClass]="strongPasswordObj?.checkSpecial == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                          <h5>At least one special character (!, &#64;, #, $, %, ^, &, *)</h5>
                        </div>
                        <div class="strong_password"
                          [ngClass]="strongPasswordObj?.checkLength == 1 ? 'strong_password_right': 'strong_password' ">
                          <i
                          [ngClass]="strongPasswordObj?.checkLength == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                          <h5>At least 8 characters</h5>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="">
                          <button  type="submit" title="Submit" [disabled]="strongPasswordObj?.isDisabled"
                          class="btn btn-space btn-primary">Submit</button>
                          <button class="btn btn-space btn-secondary" (click)="reset();"
                          [disabled]="!passwordObj.password && !passwordObj.nPassword && !passwordObj.cPassword">Reset</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
