<!---Global-loader-->


        <!--Page header-->
        <div class="page-header mobile_page_header gov-page-toolbar">
          <div class="page-leftheader">
            <h4 class="page-title">
              System Administration
            </h4>
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../statistics']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-pie-chart icon_bg_user" aria-hidden="true"></i>
                      <p>Statistics</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../esign-report']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-file-text-o icon_bg_user" aria-hidden="true"></i>
                      <p>eSign Report</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../import']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-download icon_bg_user" aria-hidden="true"></i>
                      <p>Import</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../inbox']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-upload icon_bg_user" aria-hidden="true"></i>
                      <p>Export</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../backup-Import']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-archive icon_bg_user" aria-hidden="true"></i>
                      <p>Archived</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../diary-import']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-book icon_bg_user" aria-hidden="true"></i>
                      <p>Diary Claim</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../unit-admin']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-user-secret icon_bg_user" aria-hidden="true"></i>
                      <p>Manage Unit Admin</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../settings']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-cog icon_bg_user" aria-hidden="true"></i>
                      <p>Settings</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../excel-import']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-file-excel-o icon_bg_user" aria-hidden="true"></i>
                      <p>Excel Import</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
