<div class="modal fade otp_modal" id="verify_otp_modal" tabindex="-1" role="dialog" aria-labelledby="addAgent"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body verify_otp_modal_body">
        <form>
          <div class="form-group">
            <h3>Verification</h3>
            <img src="assets/images/otp-verification.png" alt="">
            <p>Enter the verification code we just send<br>on your
              
                <span *ngIf="record?.phone">phone number <b>******{{record?.phone?.slice(6)}}</b></span>
              
              
                <span *ngIf="record?.email">Email Id <b>******{{record?.email?.slice(0, 4)}}{{record?.email?.slice(-12)}}</b></span>
              
            </p>
            <ng-otp-input (onInputChange)="onOtpChange($event)"
            [config]="{length:4, allowNumbersOnly:true, isPasswordInput:true}"></ng-otp-input>

            <div class="reset_otp">
              <p>
                
                  <span class="timer" *ngIf="seconds">Resend OTP in 00:{{seconds}} Seconds</span>
                
                
                  <span class="resetTimer" (click)="resendOtp()" *ngIf="!seconds">Resend OTP</span>
                
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
