<!--Page header-->
<div class="page-header gov-page-toolbar">
  <div class="page-leftheader">
    <h4 class="page-title">Not Passed</h4>
    <ol class="breadcrumb pl-0">
      <li class="breadcrumb-item"><a [routerLink]="['../inbox']">Inbox</a></li>
      <li class="breadcrumb-item active" aria-current="page">Not Passed</li>
    </ol>
  </div>
  <div>
    <div>
      <button type="button" class="btn btn-dark request_view_back" title="Back to Page" (click)="goBack()"><i
      class="fa fa-chevron-left" style="display: inline-block;"></i></button>
    </div>

    <!-- <div class="breadcrumb_right">
    <button  type="submit" title="Submit" class="btn btn-dark"  (click)="openAddMapping()">+</button>
  </div> -->
</div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length">
              <label>Show</label>
              <select class="form-control" name="noOfPage" aria-controls="example" [(ngModel)]="noOfPage"
                (ngModelChange)="p=1">
                <option value="10">10</option>
                <!-- <option value="25">25</option> -->
                <!-- <option value="50">50</option> -->
                <option value="100">100</option>
                <option value="100000">All</option>
              </select>
              <label>entries</label>
            </div>
          </div>

          <div class="col-sm-12 col-md-3 offset-3">
            <div class="dataTables_filter"  title="Search">
              <i class="fa fa-search"></i>
              <input type="search" class="form-control form-control-sm" placeholder="Search" (keyup)="p=1"
                [(ngModel)]="searchObj" name="searchObj" aria-controls="example">
              </div>
            </div>
          </div>
          <div class="table-responsive gov-table-wrap-premium table-wrap-premium">
            <table id="exportData" class="table table-bordered gov-table-sticky-first table-sticky-first" style="width:100%">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Form Name</th>
                  <th>Form ID</th>
                  <th>Submission Date</th>
                  <th>Claim Amount</th>
                  <th>Remarks</th>
                  <th>View Form</th>
                  <th>Observations</th>
                  <th>Signed Form</th>
                  <th>Archive</th>
                </tr>
              </thead>
              <tbody>
                
                  <tr
                     *ngFor="let dataObj of dataList |  filterComplex : searchObj | orderBy: key: reverse |paginate: { itemsPerPage: noOfPage, currentPage: p }; let i = index">
                  <td>{{ i + 1 + (p - 1) * noOfPage }}.</td>
                  <td>{{ (dataObj?.yatClaimDTO?.codeSubFormDTO?.descr || dataObj?.yatClaimDTO?.codeSubFormDTO?.subFormName || dataObj?.formName) | showHypen }}</td>
                  <td>{{ (dataObj?.yatClaimDTO?.formId || dataObj?.formId) | showHypen }}</td>
                  <td>{{ (dataObj?.yatClaimDTO?.subDate || dataObj?.yatClaimDTO?.submissionDate || dataObj?.yatClaimDTO?.createdOn || dataObj?.createdOn) | legacyDate:'queueDate' }}</td>
                  <td>{{ (dataObj?.yatClaimDTO?.claimAmt || dataObj?.claimAmt) | showHypen }}</td>
                  <td>{{ (dataObj?.yatClaimDTO?.claimRemark || dataObj?.claimRemark || dataObj?.remarks || dataObj?.yatClaimDTO?.remark) | showHypen }}</td>
                  <td>
                    <button class="btn btn-info" title="View Form" (click)="viewForm(dataObj)">View Form</button>
                  </td>
                  <td>
                    <button class="btn btn-info" title="Observations" (click)="loadClaimObservations(dataObj)">View</button>
                  </td>
                  <td>
                    
                      <button class="btn btn-info" title="Signed Form" (click)="downloadSignedForm(dataObj)" *ngIf="hasSignedForm(dataObj)">Download</button>
                    
                  </td>
                  <td>
                    <button class="btn btn-info" title="Archive"
                      [disabled]="archiveLoadingMap[dataObj?.yatClaimDTO?.claimId || dataObj?.claimId || dataObj?.formId || dataObj?.claimStateId]"
                    (click)="archiveClaim(dataObj)">Archive</button>
                  </td>
                </tr>
              

              
                <tr class="text-center table-empty-state gov-table-empty-state" *ngIf="!dataList.length">
                  <td colspan="10">No Records Available</td>
                </tr>
              
              
                <tr class="noExl pagination_area" *ngIf="dataList?.length">
                  <td colspan="10">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </td>
                </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="claimObservationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Observation</th>
                <th>Created On</th>
              </tr>
            </thead>
            <tbody>
              
                <tr *ngFor="let observation of claimObservations; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ (observation?.descr || observation?.claimObservation || observation?.remarks || observation?.remark) | showHypen }}</td>
                  <td>{{ observation?.createdOn | showDate:'medium' }}</td>
                </tr>
              
              
                <tr *ngIf="!claimObservations.length">
                  <td colspan="3" class="text-center">No Records Available</td>
                </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





