.profile-bg {
  background-color: rgb(219, 226, 236);
  height: 90vh;
}
/* 
   .container{
     background-color: rgba(30, 19, 133, 0.686);
     height: 950px;
         width: 900%;
        
 } */
.card-body {
  margin-top: 90px;
  height: 40px;
  width: 50px;
}

.img-bg {
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 20px;
  height: 120px;
  width: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.img-bg img {
  width: 60%;
  height: 80px;
}
.img-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.card-flex {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.card-design {
  /* width: 250px; */
  /* height: 180px; */
  margin: 15px;
  background-color: hwb(0 100% 0%);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
.card-design h4 {
  font-weight: 600;
  margin-top: 30px;
}
.toggle-style,
.toggle-style:hover {
  color: rgb(39, 31, 205) !important;
}
.dropdown-menu.show {
  right: auto !important;
  left: auto !important;
  transform: translate3d(0, 22px, 0px) !important;
}
.logo-design {
  border-radius: 50%;
  font-size: 40px;
  color: white;
  background-color: #70b5ed;
  width: 64px;
  height: 64px;
  margin: auto;
  padding-top: 5px;
}
.text {
  color: rgb(27, 27, 169);
}
