<div class="modal fade otp_modal custom_card" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-hidden="true "
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header custom_header">
        <h4>Forgot Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <img src="assets/images/lock.jpg" alt="" class="custom_img">
      <div class="modal-body verify_otp_modal_body">

        
          <form class="page_form" autocomplete="off"
            (ngSubmit)="requiredForm.form.valid && forgotPassword();" #requiredForm="ngForm" novalidate *ngIf="showEnterPno">
            
              <div class="form-group" *ngIf="isTextCaptcha">
                <label class="form-label">PNO </label>
                <input type="text" class="form-control" placeholder="Enter PNO" [(ngModel)]="formObj.pNo" #pNo="ngModel"
                  name="pNo" required>
                  
                    <div *ngIf="pNo.touched || (requiredForm.submitted &amp;&amp; pNo.invalid)">
                      
                        <div class="invalid-msg" *ngIf="pNo.errors?.required">PNO is
                          required
                        </div>
                      
                    </div>
                  
                </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <div class="captcha_view">
                      <p>{{yourCaptcha}}</p>
                      <i class="fa fa-refresh" title="Refresh" aria-hidden="true" (click)="captchaGenerate()"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="captcha_form">
                      <input type="text" class="form-control" [(ngModel)]="formObj.captcha" name="captcha"
                        #captcha="ngModel" maxlength="20" placeholder="Enter Captcha" (paste)="onPaste($event)" [attr.required]="isTextCaptcha ? '' : null">
                    </div>
                    
                      <div *ngIf="captcha.touched || requiredForm.submitted">
                        
                          <div class="invalid-msg mb-3" *ngIf="captcha.errors?.required">Captcha is required</div>
                        
                      </div>
                    
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button  type="submit" title="Submit" class="btn btn-lg button" title="Send OTP">
                Send OTP</button>
              </div>
            </form>
          

          
            <div class="form-group" *ngIf="showEnterOtp">
              <div style="text-align: center;">
                <p>Enter the verification code we just send<br>on your phone number <b>******
                {{resetPasswordObj?.phone?.slice(6)}}</b></p>
                <ng-otp-input (onInputChange)="onOtpChange($event)"
                [config]="{length:4, allowNumbersOnly:true, isPasswordInput:true}"></ng-otp-input>
                <div class="reset_otp">
                  <p>
                    
                      <span class="timer" *ngIf="seconds">Resend OTP in 00:{{seconds}} Seconds</span>
                    
                    
                      <span class="resetTimer" (click)="resendOtp()" *ngIf="!seconds">Resend OTP</span>
                    
                  </p>
                </div>
              </div>
            </div>
          

          
            <div class="form-group" *ngIf="showResetPassword">
              <form autocomplete="off" (ngSubmit)="f.form.valid && resetPassword();" #f="ngForm" novalidate>
                <div class="form-group form_password">
                  <label class="col-form-label">Password</label>
                  <input type="password" placeholder="Enter Password" [(ngModel)]="passwordObj.password" name="password"
                    #password="ngModel" class="form-control" minlength="4" maxlength="25" required appShowHidePassword
                    (keyup)="handleNewPassword()">
                    
                      <div class="invalid-msg" *ngIf="password.touched || f.submitted">
                        
                          <div *ngIf="password.errors?.required">New Password is required
                          </div>
                        
                      </div>
                    
                    
                      <div class="invalid-msg" *ngIf="passwordObj.Password &amp;&amp; password.invalid"> Password must be
                      between 4 and 15 characters</div>
                    
                  </div>
                  <div class="form-group form_password">
                    <label class="col-form-label">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" [(ngModel)]="passwordObj.cPassword" name="cPassword"
                      #cPassword="ngModel" class="form-control" minlength="4" maxlength="25" required appShowHidePassword>
                      
                        <div class="invalid-msg" *ngIf="cPassword.touched || f.submitted">
                          
                            <div *ngIf="cPassword.errors?.required">Confirm Password is required
                            </div>
                          
                          
                            <div *ngIf="passwordObj.cPassword &amp;&amp; passwordObj.cPassword !=passwordObj.password">
                            Please Enter Same Password</div>
                          
                        </div>
                      
                      
                        <div class="invalid-msg" *ngIf="passwordObj.cPassword &amp;&amp; cPassword.invalid"> Password must be
                        between 4 and 15 characters</div>
                      
                    </div>
                    <div class="text-center">
                      <button  type="submit" title="Submit" class="btn btn-space btn-primary" title="Reset Password"
                      [disabled]="strongPasswordObj?.isDisabled">Reset Password</button>
                    </div>
                  </form>
                  <div>
                    <div class="strong_password"
                      [ngClass]="strongPasswordObj?.checkSamll == 1 ? 'strong_password_right': 'strong_password' ">
                      <i [ngClass]="strongPasswordObj?.checkSamll == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                      <h5>At least one small letter (a-z)</h5>
                    </div>
                    <div class="strong_password"
                      [ngClass]="strongPasswordObj?.checkCaptial == 1 ? 'strong_password_right': 'strong_password' ">
                      <i [ngClass]="strongPasswordObj?.checkCaptial == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                      <h5>At least one capital letter (A-Z)</h5>
                    </div>
                    <div class="strong_password"
                      [ngClass]="strongPasswordObj?.checkNumber == 1 ? 'strong_password_right': 'strong_password' ">
                      <i [ngClass]="strongPasswordObj?.checkNumber == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                      <h5>At least one number (0-9)</h5>
                    </div>
                    <div class="strong_password"
                      [ngClass]="strongPasswordObj?.checkSpecial == 1 ? 'strong_password_right': 'strong_password' ">
                      <i [ngClass]="strongPasswordObj?.checkSpecial == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                      <h5>At least one special character (!, &#64;, #, $, %, ^, &, *)</h5>
                    </div>
                    <div class="strong_password"
                      [ngClass]="strongPasswordObj?.checkLength == 1 ? 'strong_password_right': 'strong_password' ">
                      <i [ngClass]="strongPasswordObj?.checkLength == 1 ? 'fa fa-check-circle': 'fa fa-times-circle' "></i>
                      <h5>At least 8 characters</h5>
                    </div>
                  </div>
                </div>
              

            </div>
          </div>
        </div>
      </div>
