<div class="common-bg">
  <div class="text-right pr-5">
    <div class="btn-group">
      <a type="button" class="dropdown-toggle toggle-style"
        data-toggle="dropdown" aria-expanded="false">
        Admin()
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="img-flex">
      <div class="img-bg">
        <div class="vl"></div>
        <img src="assets/images/logo.png" width="90px" height="130px">
      </div>

      <div class="img-bg">
        <div class="v2"></div>
        <img src="assets/images/Ministry_of_Defence_logo.webp" width="135px"
          height="135px">
      </div>
    </div>
    <h3 class="head-ing">New Device Sign In</h3>
    <div class="card-flex">
      <div class="card-design">
        <h4>Hi</h4>
        <h4>You have just signed in on a new computer!</h4>
        <h4>Please Enter a Nickname for the device.<sup
            class="required-msg">*</sup></h4>
        <input type="text" appNotSpecialCharacter class="form-input"
          placeholder="Nickname "
          maxlength="50" [(ngModel)]="formObj.nickname" #nickname="ngModel"
          name="nickname" required>
        <button  type="submit" title="Submit" class="btn btn-primary butt-on" title="proceed"
          (click)="submit()">
          Submit</button>
      </div>
    </div>
  </div>
  <app-login-footer></app-login-footer>
</div>