<div class="page-header gov-page-toolbar">
  <div class="page-leftheader">
    <h4 class="page-title">{{ pageTitle }}</h4>
    <ol class="breadcrumb pl-0">
      <li class="breadcrumb-item">
        <a *ngIf="homeLink; else homeText" [routerLink]="homeLink">{{ homeLabel }}</a>
        <ng-template #homeText>{{ homeLabel }}</ng-template>
      </li>
      <li class="breadcrumb-item" *ngIf="sectionLabel">
        <a *ngIf="sectionLink; else sectionText" [routerLink]="sectionLink">{{ sectionLabel }}</a>
        <ng-template #sectionText>{{ sectionLabel }}</ng-template>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ pageTitle }}
      </li>
    </ol>
  </div>
  <ng-content></ng-content>
</div>
