<!---Global-loader-->


        <!--Page header-->
        <div class="page-header mobile_page_header gov-page-toolbar">
          <div class="page-leftheader">
            <h4 class="page-title">
              <!-- <span *ngIf="userIdDetails?.groupName"> {{userIdDetails?.groupName}}</span>
              <span *ngIf="userIdDetails?.roleName"> ({{userIdDetails?.roleName}})</span> -->
              Dashboard
            </h4>
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item">
                <a [routerLink]="['../dashboard']">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Dashboard
              </li>
            </ol>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <a [routerLink]="['../new']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i class="fa fa-plus-circle icon_bg_user" aria-hidden="true"></i>
                      <h2>{{ countObj?.newClaimCount }}</h2>
                      <p>New Claim</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3">
                <a [routerLink]="['../inbox']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-inbox icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.inboxCount }}</h2>
                      <p>Inbox</p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../outbox']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-envelope-open icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.outboxCount }}</h2>
                      <p>Outbox</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <a [routerLink]="['../draft']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-file-o icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.draftCount }}</h2>
                      <p>Draft</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../approved']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-check-circle icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.approvedCount }}</h2>
                      <p>Approved</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../rejected']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-window-close icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.notApprovedCount }}</h2>
                      <p>Rejected</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../passed']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-check icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.passedCount }}</h2>
                      <p>Passed</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['../not-passed']">
                  <div class="custom_card">
                    <div class="custom_card_body">
                      <i
                        class="fa fa-times-circle icon_bg_user"
                        aria-hidden="true"
                      ></i>
                      <h2>{{ countObj?.notPassedCount }}</h2>
                      <p>Not Passed</p>
                    </div>
                  </div>
                </a>

