<!--Page header-->
        <div class="page-header gov-page-toolbar">
          <div class="page-leftheader">
            <h4 class="page-title">Manage Role</h4>
            <ol class="breadcrumb pl-0">
              <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Manage Role
              </li>
            </ol>
          </div>
          <div>
            <button type="button" class="btn btn-dark request_view_back" title="Back to Page" (click)="goBack()"><i
                class="fa fa-chevron-left" style="display: inline-block;"></i></button>
          </div>
        </div>
        <!--End Page header-->

        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <form class="page_form" (ngSubmit)="requiredForm.form.valid && saveRecord();" autocomplete="off" #requiredForm="ngForm" novalidate>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Role<sup class="required-msg">*</sup></label>
                        <ngx-select [items]="roleList" optionTextField="roleType" optionValueField="id" name="role"
                          #role="ngModel" [(ngModel)]="formObj.role" [allowClear]="true" required
                          placeholder="Select Role"   (ngModelChange)="getDesignationList()">
                        </ngx-select>
                        <div *ngIf="role.touched || (requiredForm.submitted && role.invalid)">
                          <div *ngIf="role.errors?.required" class="invalid-msg">
                            Role is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Designation<sup class="required-msg">*</sup></label>
                        <ngx-select [items]="desigList" optionTextField="descr" optionValueField="id" name="desig"
                          #desig="ngModel" [(ngModel)]="formObj.desig" [allowClear]="true" required
                          placeholder="Select Designation">
                        </ngx-select>
                        <div *ngIf="desig.touched || (requiredForm.submitted && desig.invalid)">
                          <div *ngIf="desig.errors?.required" class="invalid-msg">
                            Designation is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">P.No. (Ex: 12334-R)<sup class="required-msg">*</sup></label>
                        <input type="text" class="form-control" placeholder="PNO" maxlength="50"
                          [(ngModel)]="formObj.pno" #pno="ngModel" name="pno" required appPersonalNumberValidation>
                        <div *ngIf="pno.touched || (requiredForm.submitted && pno.invalid)">
                          <div *ngIf="pno.errors?.required" class="invalid-msg">
                            P.No. is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 30px;">
                      <div class="form-label">
                        <button type="button" title="Search" class="btn btn-dark " (click)="doSearch()">Search
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        <button type="button" (click)="pnoReset()" title="Refresh" class="btn btn-secondary"><i class="fa fa-refresh"
                            aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Name </label>
                        <input type="text" class="form-control" placeholder="Name" maxlength="50"
                          [(ngModel)]="userObj.nameShort" disabled name="nameShort" required appNotSpecialCharecter>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Phone Number </label>
                      <input type="text" class="form-control" placeholder="Phone Number" disabled maxlength="10"
                        minlength="10" [(ngModel)]="userObj.mobileNo" name="mobileNo" required>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="form-label">Rank</label>
                        <input type="text" class="form-control" placeholder="Rank"
                          [(ngModel)]="userObj.rankDescr" disabled name="rankDescr" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <button  type="submit" title="Submit" class="btn btn-space btn-primary " [disabled]="disableBtn">Submit
                      </button>
                      <button class="btn btn-space btn-warning" type="button" (click)="reset()"  title="Reset">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                          <label>Show</label>
                          <select class="form-control" name="noOfPage" aria-controls="example" [(ngModel)]="noOfPage"
                            (ngModelChange)="p=1">
                            <option value="10">10</option>
                            <!-- <option value="25">25</option> -->
                            <!-- <option value="50">50</option> -->
                            <option value="100">100</option>
                            <option value="100000">All</option>
                          </select>
                          <label>entries</label>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-3 offset-3">
                        <div class="dataTables_filter" title="Search">
                          <i class="fa fa-search"></i>
                          <input type="search" class="form-control form-control-sm" placeholder="Search" (keyup)="p=1"
                            [(ngModel)]="searchObj" name="searchObj" aria-controls="example">
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive gov-table-wrap-premium table-wrap-premium">
                      <table id="exportData" class="table table-bordered gov-table-sticky-first table-sticky-first" style="width:100%">
                        <thead>
                          <tr>
                            <th class="wd-5p">SL</th>
                            <th class="wd-20p">PNO <i class="fa fa-sort" (click)="sort('pno')"></i></th>
                            <th class="wd-20p">Name<i class="fa fa-sort" (click)="sort('name')"></i></th>
                            <th class="wd-20p">Rank<i class="fa fa-sort" (click)="sort('rank')"></i></th>
                            <th class="wd-20p">Role <i class="fa fa-sort" (click)="sort('roleType')"></i></th>
                            <th class="wd-20p">Designation <i class="fa fa-sort" (click)="sort('descr')"></i></th>
                            <th class="actionBtnWidth">Action</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let dataObj of dataList |  filterComplex : searchObj | orderBy: key: reverse | paginate: { itemsPerPage: noOfPage, currentPage: p };let i=index">
                            <td>{{ (i + 1) + (p - 1) * noOfPage}}</td>
                            <td>{{dataObj?.pno | showHypen}}</td>
                            <td>{{dataObj?.name | showHypen}}</td>
                            <td>{{dataObj?.rank | showHypen}}</td>
                            <td>{{dataObj?.aclCodeRoleTypeDTO?.roleType | showHypen}}</td>
                            <td>{{dataObj?.aclCodeDesignationDTO?.descr | showHypen}}</td>
                            <td>
                              <img src="assets/images/switch-on.png" alt=""
                                *ngIf="dataObj.aclCodeStatusDTO?.statusId==codeStatusList.activate"
                                (click)="openChangeStatusModal(dataObj,codeStatusList.deactivate)" data-toggle="modal"
                                data-target="#change_status_modal" title="Enable" style="width: 45px; cursor: pointer;">
                              <img src="assets/images/switch-off.png" alt=""
                                *ngIf="dataObj.aclCodeStatusDTO?.statusId==codeStatusList.deactivate"
                                (click)="openChangeStatusModal(dataObj,codeStatusList.activate)" data-toggle="modal"
                                data-target="#change_status_modal" title="Disable"
                                style="width: 45px; cursor: pointer;">
                            </td>

                          </tr>
                          <tr *ngIf="!dataList.length" class="text-center table-empty-state gov-table-empty-state">
                            <td colspan="20">No Records Available</td>
                          </tr>
                          <tr class="noExl pagination_area" *ngIf="dataList?.length">
                            <td colspan="20">
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div><app-change-status-modal [changeData]="tempObj"
  (changeStatusConfirmed)="changeStatus($event)"></app-change-status-modal>
</div>
</div>
</div>
</div>

