<!-- View Remark Modal Starts -->
<div class="modal fade" id="view_error_modal" tabindex="-1" role="dialog" aria-labelledby="addAgent" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="errorMessage">
          <img src="assets/images/warning.png" alt="">
          <h2>Oops!</h2>
          <p>{{errorMessage}}</p>
        </div>

        <div data-dismiss="modal" aria-label="Close" class="close_modal">Close</div>
      </div>
    </div>
  </div>
</div>
<!-- View Remark Modal Ends -->
