<!-- Change Status Modal Starts -->
<div class="modal fade delete_modal_" id="change_status_modal" tabindex="-1" role="dialog" aria-labelledby="addAgent"
  aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 deleteText">
            <!-- <h4>Are you sure ?</h4> -->
            <h4>{{actionMsg}}</h4>
          </div>
        </div>
        <div class="modal-footer ad_modal_footer text-center" style="display: block;">
          <div class="text-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changeConfirm()"
              data-toggle="tooltip" title="Yes"><i class="fa fa-check" aria-hidden="true"></i>Yes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" title="No"><i
                class="fa fa-times"></i>No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Change Status Modal Ends -->

