<div class="page-header gov-page-toolbar">
  <div class="page-leftheader">
    <h4 class="page-title">Manual Advance</h4>
    <ol class="breadcrumb pl-0">
      <li class="breadcrumb-item"><a [routerLink]="['../dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item active">Manual Advance</li>
    </ol>
  </div>
  <div class="text-right">
    <button class="btn btn-info mr-2" type="button" (click)="openPreview()" [disabled]="!claimId">Preview</button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Unit Name</label>
        <select class="form-control" [(ngModel)]="formObj.codeUnitDTO.unit">
          <option value="">Select Unit</option>
          
            <option [value]="unit?.unit" *ngFor="let unit of units">{{ unit?.descr }}</option>
          
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label>Personnel Number</label>
        <input class="form-control" [(ngModel)]="formObj.pno" />
      </div>
      <div class="col-md-4 mb-3">
        <label>Name</label>
        <input class="form-control" [(ngModel)]="formObj.name" />
      </div>
      <div class="col-md-4 mb-3">
        <label>Rank</label>
        <input class="form-control" [(ngModel)]="formObj.rank" />
      </div>
      <div class="col-md-4 mb-3">
        <label>Pay Level</label>
        <select class="form-control" [(ngModel)]="formObj.payLevel">
          <option value="">Select Pay Level</option>
          
            <option [value]="p?.payLevel" *ngFor="let p of payLevels">
              {{ p?.payLevel }} - {{ p?.description }}
            </option>
          
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label>Basic Pay</label>
        <input class="form-control" [(ngModel)]="formObj.basicPay" />
      </div>
      <div class="col-md-4 mb-3">
        <label>Form Type <span class="text-danger">*</span></label>
        <select class="form-control" [(ngModel)]="formObj.formType">
          <option value="">Select Form Type</option>
          <option [value]="codeClaim.pmtAdv">PMT Duty Advance</option>
          <option [value]="codeClaim.tyAdv">TY Duty Advance</option>
          <option [value]="codeClaim.ltcAdv">LTC Advance</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label>Advance Request <span class="text-danger">*</span></label>
        <input class="form-control" type="number" [(ngModel)]="formObj.amount" />
      </div>
      <div class="col-md-4 mb-3">
        <label>Reason <span class="text-danger">*</span></label>
        <select class="form-control" [(ngModel)]="formObj.reason">
          <option value="">Select Reason</option>
          
            <option [value]="r?.reason || r?.descr" *ngFor="let r of reasons">
              {{ r?.reason || r?.descr }}
            </option>
          
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label>GX Form (PDF)</label>
        <input class="form-control" type="file" accept="application/pdf" (change)="onGxFileChange($event)" />
      </div>
      <div class="col-md-6 mb-3">
        <label>Manual Signed Form (PDF)</label>
        <input class="form-control" type="file" accept="application/pdf" (change)="onManualFileChange($event)" />
      </div>
    </div>
    <div class="mt-2">
      <button class="btn btn-info mr-2" type="button" [disabled]="disableBtn" (click)="save(codeClaimState.manualDraft)">
        Save as Draft
      </button>
      <button class="btn btn-primary" type="button" [disabled]="disableBtn" (click)="save(codeClaimState.outbox)">
        Submit
      </button>
    </div>
  </div>
</div>
