.img-bg {
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 12px;
  height: 160px;
  width: 160px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.img-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 50px 0;
  position: relative;
}
.card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-design {
  width: 250px;
  height: 180px;
  margin: 15px;
  background-color: #ffd72d;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}
.card-design h4 {
  font-weight: 600;
  margin-top: 30px;
}
.toggle-style,
.toggle-style:hover {
  color: white !important;
  cursor: pointer;
}
.dropdown-menu.show {
  // right: auto !important;
  left: auto !important;
  transform: translate3d(0, 22px, 0px) !important;
}
.logo-design {
  border-radius: 50%;
  font-size: 40px;
  color: white;
  background-color: #ffa726;
  width: 64px;
  height: 64px;
  margin: auto;
}
.vl {
  border-left: 10px solid white;
  height: 78px;
  position: absolute;
  left: 78px;
  margin-left: -3px;
  top: -10%;
  z-index: 0;
}
.v2 {
  border-left: 10px solid white;
  height: 78px;
  position: absolute;
  right: 78px;
  margin-left: -3px;
  top: -10%;
  z-index: 0;
}


.instruction li {
  font-size: 20px;
}