<div class="common-bg">
  <div class="text-right">
    <div class="btn-group">
      <a type="button" class="toggle-style mr-5" data-toggle="modal"
        data-target="#logoutModal">Logout</a>
    </div>
  </div>
  <div class="container">
    <div class="img-flex">
      <div class="img-bg">
        <div class="vl"></div>
        <img src="assets/images/logo.png" width="90px" height="130px">
      </div>
      <!-- <div class="img-bg">
        <img src="assets/images/logo2.jpg">
      </div> -->
      <div class="img-bg">
        <div class="v2"></div>
        <img src="assets/images/Ministry_of_Defence_logo.webp" width="135px" height="135px">
      </div>
    </div>
    
    <div class="card-flex">
      <div class="card-design" (click)="switchModule('NGIF')">
        <div class="logo-design">
          <i class="fa fa-suitcase" aria-hidden="true"></i>
        </div>
        <h4>NGIF Module</h4>
      </div>
      <div class="card-design" (click)="switchModule('INBA')">
        <div class="logo-design">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </div>
        <h4>INBA Module</h4>
      </div>
    </div>
  </div>
  <app-login-footer></app-login-footer>
  <app-logout-modal></app-logout-modal>
</div>


<div class="modal fade" id="information_modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Important Instructions</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal_form_sec">
        <div class="card">
          <div class="card-body">
            <ol class="instruction">
              <li> <b>"Unit Admin"</b> has been created. In case not created, the details of Unit Admin (Name, Rank & PNo) be forwarded through mail Id dnpf&#64;navy.gov.in</li>
              <li>Application can be accessed from a maximum of five devices. Users to clear their login history before logging out from <b>"Manage Device"</b> option in personal login page.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
