<div class="page-header mobile_page_header gov-page-toolbar">
  <div class="page-leftheader">
    <h4 class="page-title">SETTINGS</h4>
    <ol class="breadcrumb pl-0">
      <li class="breadcrumb-item"><a>Yatra</a></li>
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p class="settings-intro">Manage master data</p>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let card of settingsCards">
        <a [routerLink]="[card.route]" class="settings-card-link">
          <div class="settings-card">
            <div class="settings-card-icon">
              <i [class]="card.icon" aria-hidden="true"></i>
            </div>
            <h4>{{ card.title }}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
